<md-bottom-sheet class="md-grid margin_s_100" layout="column" ng-cloak>
  <div layout="row" layout-align="center center">
   <h3 >Enter your overview</h3>
   <md-subheader class="md-primary">Give a detailed account of yourself</md-subheader>
  </div>
  <div>
    <form ng-submit="update_teacher()">
      <md-input-container class="width_75">
        <label >Overview</label>
        <textarea ng-model="User.overview" aria-label="User overview" class="black_text" md-maxlength="300"  md-select-on-focus></textarea>
      </md-input-container>

      <div flex="40" >
        <md-button class="tricolor_button_hover padding_t_10" type="submit"><i class="material-icons green_add_icon">add_box</i></md-button>
      </div>
    </form>
  </div>

</md-bottom-sheet>