<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
  <div layout="row" layout-align="center center">
   <h3 >Enter your overview</h3>
   <md-subheader class="md-primary lime_background">Give a detailed account of yourself</md-subheader>
  </div>
  <div>
    <md-input-container class="width_75">
      <label >Overview</label>
      <textarea ng-model="overview.description" class="black_text" md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>
  </div>
</md-bottom-sheet>