<md-bottom-sheet class="md-grid qualification_sheet" layout="column">
  <div layout="row" layout-align="center center">
   <h3 >List your qualification</h3>
   <!-- <md-subheader class="md-primary">Give a detailed account of yourself</md-subheader> -->
  </div>
  <div>
    <form ng-submit="qualification_form.$valid && User.create_qualification( qualification )" name="qualification_form" novalidate>

      <md-input-container class="width_75">
        <label >Qualificaion title</label>
        <input ng-model="qualification.title" name="title" required>

        <div ng-messages="qualification_form.title.$error">
          <div ng-message="required">Please enter a title</div>
        </div>
      </md-input-container>

      <md-input-container class="width_75">
        <label >Qualificaion school</label>
        <input ng-model="qualification.school" name="school" required>

        <div ng-messages="qualification_form.school.$error">
          <div ng-message="required">Please enter the school</div>
        </div>
      </md-input-container>

      <!-- <md-input-container class="width_75">
        <label>Start date</label>
        <input type="month" ng-model="qualification.start" required>
      </md-input-container>

      <md-input-container class="width_75">
        <label>End date</label>
        <input type="month" ng-model="qualification.end_time" required>
      </md-input-container> -->

      <div flex="40" >
        <md-button class="tricolor_button_hover padding_t_10" type="submit"><i class="material-icons green_add_icon">add_box</i></md-button>
      </div>
    </form>
  </div>

</md-bottom-sheet>