<md-bottom-sheet class="md-grid qualification_sheet" layout="column">
  <div layout="row" layout-align="center center">
   <h3 >Request to add subject</h3>
   <md-subheader class="md-primary">Sorry we missed your subject</md-subheader>
  </div>
  <div>
    <form ng-submit="no_subject_form.$valid && request_subject()" name="no_subject_form" novalidate>


      <md-input-container class="width_75">
        <label >Subject name</label>
        <input ng-model="no_subject.subject" name="subject" required>

        <div ng-messages="no_subject_form.name.$error">
          <div ng-message="required">Please enter the name</div>
        </div>
      </md-input-container>

      <div flex="40" >
        <md-button class="md-primary md-raised" type="submit">Send request</md-button>
      </div>
    </form>
  </div>

</md-bottom-sheet>