<md-content>
  <div layout="column" >
    <h2 class="center_text">LYL</h2>

    <div layout="row" layout-align="space-around center">
      <div>
        <%= image_tag 'al_profile.jpg', class: "vh_25" %>
        <h5>Alan Rowell</h5>
      </div>

      <div>
        <%= image_tag 'al_profile.jpg', class: "vh_25" %>
        <h5>Louis Angelini</h5>
      </div>
    </div>

    <div class="margin_t_30" layout="row" layout-align="space-around center">
      <div>a</div>
      <div>b</div>
      <div>c</div>
    </div>
  </div>
</md-content>