<div class="register_page_main_div">
  <div layout="row">
    <div flex="50">
      <form name="register_teacher" ng-submit="register_teacher()">
        <md-input-container md-no-float>
          <input  type="email" 
                  ng-model="teacher.email"
                  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                  name="email1"
                  id="email1"
                  placeholder="Email" 
                  required>
        </md-input-container>

        <md-input-container md-no-float>
          <input  type="email" 
                  ng-model="teacher.confirm_email" 
                  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                  placeholder="Confirm Email" 
                  name="email2"
                  id="email2"
                  required>
        </md-input-container>
        <span ng-show="(register_teacher.email.$modelValue !== register_teacher.confirm_email.$modelValue) 
                && formName.confirm_email.$touched
                && !formName.confirm_email.$error.required">Email does not match.</span>
      </form>
    </div>
  </div>
</div>