<form name="student_form" ng-submit="student_form.$valid && auth.register( student )" class="gutter_90" novalidate>

  <md-input-container>
    <!-- <label>First name:</label>
    <md-icon><i class="material-icons">person</i></md-icon>
    <input name="first_name" type="text" required>

    <div ng-messages="student_form.first_name.$error">
      <div ng-message="required">Enter your name</div>
    </div>
  </md-input-container>
  
  <md-input-container>
    <label>Last name:</label>
    <md-icon><i class="material-icons">person</i></md-icon>
    <input name="last_name" type="text" required>

    <div ng-messages="student_form.last_name.$error">
      <div ng-message="required">Enter your last name</div>
    </div>
  </md-input-container> -->

  <md-input-container class="md-icon-float md-block">
    <label>Email</label>
    <md-icon><i class="material-icons ">email</i></md-icon>
    <input  type="email" 
            ng-model="student.email"
            ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
            required>
    <div ng-messages="register_teacher_form.email.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="pattern">Must be a valid email</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label>Password:</label>
    <md-icon><i class="material-icons">vpn_key</i></md-icon>
    <input type="password" name="password" required>

    <div ng-messages="student_form.password">
      <div ng-message="required">Password required</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label>Confirm Password:</label>
    <md-icon><i class="material-icons">vpn_key</i></md-icon>
    <input type="password" name="confirm_password" required>

    <div ng-messages="student_form.confirm_password">
      <div ng-message="required">Password required</div>
      <div ng-message="student_form.password != student_form.confirm_password">Passwords must match</div>
    </div>
  </md-input-container>

</form>