{{ ctrl }}<br>
{{ subject }}
<div layout="row">
  <div flex="30" layout="column" class="boxWithHeight" layout-padding>
    <md-content class="md-padding">
      <form ng-submit="$event.preventDefault()" name="searchForm">
        <p>Change your search</p>
        <md-chips>
          <md-chip ng-show="ctrl.county">{{ ctrl.county }}</md-chip>
          <md-chip ng-show="ctrl.subject.name">{{ ctrl.subject.name }}</md-chip>
          
        </md-chips>
        <div layout-gt-sm="column" flex>
          <md-autocomplete 
              md-selected-item="ctrl.subject.name" 
              md-input-name="subject"
              md-search-text="ctrl.subject_name" 
              md-items="subject in subjects" 
              md-item-text="subject.name" 
              md-floating-label="Subject"
              md-search-text-change="search_subjects()"
              md-selected-item-change="subject_picked( subject )">
            <md-item-template>
              <span md-highlight-text="subject.name">{{subject.name}}</span>
            </md-item-template>
            
          </md-autocomplete>
          
          

          
          <md-autocomplete 
              md-selected-item="ctrl.county" 
              md-input-name="county"
              md-search-text="ctrl.county_name" 
              md-items="county in counties" 
              md-item-text="county" 
              md-floating-label="County"
              md-search-text-change="search_counties()"
              md-selected-item-change="county_picked( county )">
            <md-item-template>
              <span md-highlight-text="county">{{county}}</span>
            </md-item-template>
            
          </md-autocomplete>
          
        </div>
      </form>
    </md-content>
  </div>



  <div flex layout="column" class="boxWithHeight" layout-padding>
    <md-content class="md-padding" layout-xs="column" layout="row">
      <md-card ng-repeat="teacher in teachers" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <img ng-src="{{ teacher.photos[1].avatar.thumb.url }}" class="md-media-sm">
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <!-- <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon> -->
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <!-- <md-icon md-svg-icon="img/icons/menu.svg"></md-icon> -->
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <!-- <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon> -->
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </md-content>
  </div> <!-- end of column -->
</div>