<div hide-gt-xs>
  <md-toolbar>
    <div class="md-toolbar-tools black_text" style="background-color:rgb(250, 250, 250) !important;" >
      <p ng-click="search_nav()"><i class="material-icons">search</i> Refine</p>
    </div>
  </md-toolbar>
</div>

<div layout="row">

  <md-sidenav  
          md-component-id="search_nav" 
          class="md-sidenav-left width_l_30p max_height_75vh margin_t_5_sm" 
          md-is-locked-open="$mdMedia('gt-xs')"
          md-is-open="search_nav_opened">

    <md-toolbar class="md-theme-indigo">
      <h5 class="md-toolbar-tools">Refine</h5>
    </md-toolbar>
    <form ng-submit="search_teachers()" name="searchForm">
      
      <md-chips >
        <md-chip class="min_height_32px background_color_slightly_desaturated_cyan white_text" ng-show="selected.subject_name">
          {{ selected.subject_name }}
        </md-chip>
        <span ng-if="selected_county_name">/</span>
        <md-chip class="min_height_32px background_color_slightly_desaturated_pink white_text" ng-show="selected_county_name">
          {{ selected_county_name }}
        </md-chip>        
      </md-chips>

      <div layout-gt-sm="column" flex>
        <div class="slightly_desaturated_cyan_border">
          <md-autocomplete
              md-require-match="true"
              md-select-on-match="true"
              md-match-case-insensitive="true"
              class="no_overflow" 
              md-select-on-match="true"
              md-selected-item="selected.subject_name" 
              md-input-name="subject"
              md-search-text="searchText.subject_name"
              md-search-text-change="search_subjects( searchText.subject_name )"
              md-items="subject in subjects_list" 
              md-item-text="subject" 
              md-floating-label="Subject"            
              md-selected-item-change="subject_picked( subject )"
              md-require-match="true"
              ng-model-options="{ debounce: 500 }"
              md-min-length="2">
            <md-item-template>
              <span md-highlight-text="searchText">{{subject}}</span>
            </md-item-template>
            <md-not-found>
              No matches found.
            </md-not-found>
          </md-autocomplete>
        </div>
        
        

        
        <div class="slightly_desaturated_pink margin_t_8">
          <md-autocomplete 
              class="no_overflow" 
              md-selected-item="selected_county_name" 
              md-input-name="county"
              md-search-text="searchText.county_name" 
              md-items="county in counties" 
              md-item-text="county" 
              md-floating-label="County"
              md-search-text-change="search_counties( searchText.county_name )"
              md-selected-item-change="county_picked( county )">
            <md-item-template>
              <span md-highlight-text="county">{{county}}</span>
            </md-item-template>
            
          </md-autocomplete>
        </div>
        
      </div>

      <div layout="column" layout-align="space-around center">
        <div>
          <input class="md-button md-primary md-raised white_text"
                 type="submit"
                 ng-click="search_nav()" 
                 value="Search" 
                 aria-label="Search">
        </div>
        
        <div>
          <md-button class="md-warn md-raised" ng-click="search_nav()" hide-gt-xs>Close search</md-button>
        </div>
      </div>
      
    </form>
    
  </md-sidenav>


  <div layout="column" class="boxWithHeight margin_l_5 min_height_50vh" flex-xs="100" layout-align="start center" >
    
    <div>
      <div  layout="row" 
            layout-wrap 
            class="grey_content" 
            infinite-scroll="addMoreItems()"  
            infinite-scroll-container="'#scroll_hook'"
            infinite-scroll-disabled="busy"
            infinite-scroll-distance=".25"
            infinite-scroll-immediate-check="false" >

        <md-card 
            ng-repeat="teacher in teachers"
            md-theme-watch 
            ng-click="view_teacher( teacher )"
            ng-if="teachers.length>0"
            >
          <md-card-title class="padding_10">
            <md-card-title-text class="margin_r_5">
              <span class="md-headline teacher_card_font" 
                    ng-class="{ small_teacher_email_font : teacher.email.length > 20, extra_small_teacher_email_font : teacher.email.length > 25 }">
                    {{ teacher.first_name }} {{ teacher.last_name }}
              </span>
              <span ng-if="teacher.location" class="md-subhead address">{{ teacher.location.address }}</span>
              <span ng-repeat="subject in teacher.subjects">{{ subject.name }}</span>
            </md-card-title-text>
            <md-card-title-media ng-if="teacher.photos.length">
              <div class="md-media-lg ">
                <img ng-src="{{ teacher_profile( teacher ) }}" class="">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions class="no_margin" >

            <!-- Travel option -->
            <div ng-if="teacher.travel" class="margin_t_8 center_text raisedbox" layout-align="space-between" layout="row" layout-margin>
              <div><md-icon  class="navy_icon"><i class="material-icons" >subway</i></md-icon> </div>

              <div>This teacher will travel </div>

              <div><md-icon  class="navy_icon"><i class="material-icons" >subway</i></md-icon></div>
            </div>
            <!-- End of travel option -->

            <!-- Display teachers levels -->
            <div ng-if="teacher.primary || teacher.jc || teacher.lc || teacher.third_level" class="margin_t_10 padding_5" layout="row">

              <div ng-if="teacher.primary">
                <button  class="search_roundy_buttons primary">Primary</button>
                
              </div>

              <div ng-if="teacher.jc">
                <button  class="search_roundy_buttons jc" >Junior Cert</button>
                
              </div>
              
              <div ng-if="teacher.lc">
                <button  class="search_roundy_buttons lc" >Leaving Cert</button>
              </div>

              <div ng-if="teacher.third_level">
                <button  class="search_roundy_buttons third_level" >Third level</button>
              </div>            
            </div>

            <!-- End of display teachers levels -->

            <!-- Vetting and TCI -->
            <div ng-if="teacher.tci || teacher.garda" ng-include="'includes/vetting_tci.html'"></div>

          </md-card-actions>
        </md-card>


        <div ng-if="teachers.length==0" layout-fill flex="100">
          No results found
        </div>
      </div>
    </div>

    
  </div> <!-- end of column -->

  
</div>


<!-- ld-json bit -->
<jsonld data-json="jsonId"></jsonld>
<!-- end of ld-json bit -->