

<div hide-gt-xs>
  <md-toolbar>
    <div class="md-toolbar-tools" style="background-color:rgb(250, 250, 250) !important;" >
      <p ng-click="search_nav()"><i class="material-icons">search</i> Refine</p>
    </div>
  </md-toolbar>
</div>

<div layout="row">

  <md-sidenav  
          md-component-id="search_nav" 
          class="md-sidenav-left" 
          md-is-locked-open="$mdMedia('gt-xs')"
          md-is-open="search_nav_opened">
    
    <form ng-submit="search_teachers()" name="searchForm">
      <p>Change your search</p>
      <md-chips style="min-height:200px !important;">
        <md-chip ng-show="selected.subject_name">{{ selected.subject_name }}</md-chip>
        <md-chip ng-show="selected.county_name">{{ selected.county_name }}</md-chip>
        
        
      </md-chips>
      <div layout-gt-sm="column" flex>
        <md-autocomplete 

            md-selected-item="selected.subject_name" 
            md-input-name="subject"
            md-search-text="searchText.subject_name"
            md-search-text-change="search_subjects( searchText.subject_name )"
            md-items="subject in subjects_list" 
            md-item-text="subject" 
            md-floating-label="Subject"            
            md-selected-item-change="subject_picked( subject )"
            ng-model-options="{ debounce: 500 }"
            md-min-length="2">
          <md-item-template>
            <span md-highlight-text="searchText">{{subject}}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>
        
        

        
        <md-autocomplete 
            md-selected-item="selected.county_name" 
            md-input-name="county"
            md-search-text="searchText.county_name" 
            md-items="county in counties" 
            md-item-text="county" 
            md-floating-label="County"
            md-search-text-change="search_counties( searchText.county_name )"
            md-selected-item-change="county_picked( county )">
          <md-item-template>
            <span md-highlight-text="county">{{county}}</span>
          </md-item-template>
          
        </md-autocomplete>
        
      </div>

      <md-input-container >
        <input class="no_padding no_margin md-button md-primary md-raised white_text" type="submit" Value="Search" aria-label="Search">
      </md-input-container>
<br>
      
        <md-button ng-click="search_nav()" hide-gt-xs>Close search</md-button>
      
    </form>
    
  </md-sidenav>


  <!-- <div flex="30" layout="column" class="boxWithHeight" layout-padding>
    
  </div> -->



  <div layout="column" class="boxWithHeight" >
    <md-content layout-xs="column" layout="row" layout-wrap>
      <md-card 
            ng-repeat="teacher in teachers" 
            md-theme-watch 
            ng-click="view_teacher( teacher )"
            ng-if="teachers.length>0">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ teacher.first_name }} {{ teacher.last_name }}  </span>
            <span class="md-subhead">{{ teacher.location.address }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <img ng-src="{{ teacher.photos[0].avatar.url }}" class="md-media-xl">
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <i class="material-icons">person</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <i class="material-icons">menu</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <i class="material-icons">share</i>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>

      <div ng-if="teachers.length==0" layout-fill flex="100">
        No results found
      </div>
    </md-content>
  </div> <!-- end of column -->
</div>




{{ search_subjects( 'dr') }}