{{ counties }} <br>

<div layout="row">
  <div flex="30" layout="column" class="boxWithHeight" layout-padding>
    <md-content class="md-padding">
      <form ng-submit="$event.preventDefault()" name="searchForm">
        <p>The following example demonstrates floating labels being used as a normal form element.</p>
        <div layout-gt-sm="column" flex>
          <md-autocomplete flex required
              md-input-name="autocompleteField"
              md-selected-item="ctrl.selected_item"
              md-search-text="ctrl.name"
              md-items="item in querySearch(ctrl.name)"
              md-item-text="item.name"
              md-min-length="2"
              md-floating-label="Subject">
            <md-item-template>
              <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
            </md-item-template>
            
          </md-autocomplete>
          
          

          
          <md-autocomplete md-selected-item="selected_subject" 
              md-input-name="county"
              md-search-text="ctrl.county_name" 
              md-items="county in counties" 
              md-item-text="county" 
              md-floating-label="County"
              md-search-text-change="search_counties()"
              md-selected-item="ctrl.county">
            <md-item-template>
              <span md-highlight-text="ctrl.county_text">{{county}}</span>
            </md-item-template>
            
          </md-autocomplete>
          
        </div>
      </form>
    </md-content>
  </div>



  <div flex layout="column" class="boxWithHeight" layout-padding>
    
    teacher
  </div>
</div>