<div class="gutter_75">
  <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead">Forgot your password?</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
      <form ng-submit="change_password()" role="form" ng-init="changePasswordForm = {}">
        <md-input-container>
          <label>password</label>
          <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control">
        </md-input-container>
        <br>
        <md-input-container>
          <label>password confirmation</label>
          <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control">
        </md-input-container>
        <br>
        <button type="submit" ng-disabled="disable_button" class="blue_button">Change your password</button>
      </form>
      <md-card-actions layout="column">
     hello
        <!-- <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
        </md-button>
      </md-card-actions> -->
    </md-card-content>
  </md-card>
  
</div>


