<div ng-show="!i_want_map" class="big_gutter center_text margin_b_30" style="position:relative;">
  
  <md-content  class="fancy">
    <md-subheader class="md-primary left_header">Option 1</md-subheader>

    <span class="margin_b_10 give_height"></span>  

    <h4>Enter your address <small>County is minimum</small></h4>
    <form name="address_form" novalidate ng-submit="address_form.$valid && User.update_address( User.location )">

      

      

      <md-input-container>
        <md-select ng-model="User.location.county" placeholder="County" name="county" required>
          <md-option ng-value="county" ng-repeat="county in county_list">{{ county }}</md-option>
        </md-select>
        <div ng-messages="address_form.county.$error">
          <div ng-message="required">You must enter your county!!</div>
        </div>
      </md-input-container><br>

      <md-input-container class="width_75">
        <label>Address(optional)</label>
        <input class="center_text" ng-model="User.location.address" name="address_text" type="text">
      </md-input-container><br>

      <md-input-container>
        <input type="submit" value="Submit" aria-label="submit address" class="md-button md-raised md-primary" >
      </md-input-container>
      
    </form>
  </md-content>
</div>

<div ng-show="!i_want_map" ng-if="User.location.county" class="big_gutter center_text">
  <md-content>
    <md-subheader class="md-primary left_header">Option 2</md-subheader>
    <span class="margin_b_10 give_height"></span>  
    <div ng-show="!i_want_map" class=" center_block fancy">
      <md-button class="md-raised md-warn margin_b_30" ng-click="i_want_map_toggle()">Use the map instead?</md-button>
    </div>
  </md-content>
</div>


<div ng-show="i_want_map" >
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map"></div>
</div>


<div layout="row" layout-xs="column" ng-show="addresses" layout="row" layout-margin flex="100" class="map_results ">
  <div flex="100" >
    <md-content class="fancy map_results_height" >
      <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Select your address</md-subheader>
        <form class="location_results ">
          <md-list-item ng-repeat="address in addresses">
            <p>{{ address.formatted_address }}</p>
            <md-checkbox ng-model="address.checked" ng-click="updateSelection($index, addresses)"> </md-checkbox>
          </md-list-item>
          
        </form>
        
      </md-list>
    </md-content>
    <div ng-if="addresses" layout-margin style="background-color:#fff;">
      <md-button type="submit" class="md-raised md-primary white_text" ng-click="update_address()">Update address</md-button>
      <md-button class="md-raised md-warn white_text" ng-click="open_location_sheet()">Or enter manually</md-button>
    </div> <!-- end of ng-if addresses -->
  </div> <!-- end of flex 100 -->
  
</div>



<div ng-hide="addresses" class="big_gutter margin_t_10">
  <md-content>
    <div class="center_text" flex="100">
      <%= image_tag 'location_search.png', class: 'percent_10_w' %>
      <h4>{{ User.location.address || "Awaiting your address" }}</h4>
      <md-input-container>
        <md-button class="md-raised md-warn" 
                          ng-click="delete_location()"
                          ng-if="User.location"
                          >Delete this location?</md-button>
      </md-input-container>
    </div>

  </md-content>
</div>
