<div >
  <div layout="row" layout-xs="column">
    <div flex="50" flex-xs="100">
      <md-card class="no_margin_on_small" >
        <md-card-header>
          <md-card-avatar ng-if="profile">
            <img ng-src="{{ profile.avatar.thumb.url }}" class="md-user-avatar ">
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">

              {{ User.get_full_name() }}

            </span>
            <span class="md-subhead">
              
            </span>
          </md-card-header-text>
        </md-card-header>
        <img ng-if="User.profile" ng-src="{{ User.profile_url }}" 
            class="md-card-image" 
            alt="{{ User.first_name }} profile pic">

        <img ng-if="!User.profile" ng-src="<%= asset_url('silhouette.jpg') %>"
          class="md-card-image"
          alt="No profile selected"
        >

        <div class="margin_t_10 padding_10">
          <form ng-submit="update_teacher()">
            <md-input-container md-no-float>
              <label>First name:</label>
              <input  type="text"
                      ng-change="User.update()"
                      ng-model-options="{ debounce:750 }"
                      ng-model="User.first_name">
            </md-input-container>

            <md-input-container md-no-float>
              <label>Last name:</label>
              <input  type="text"
                      ng-change="User.update()" 
                      ng-model-options="{ debounce:750 }"
                      ng-model="User.last_name">
            </md-input-container>
            
          </form>
        </div>

        <md-card-title class="no_padding">
          <md-card-title-text>
            <span class="md-headline padding_s_20">Add pictures</span>
            <!-- <span class="md-subhead">Click camera below</span> -->
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button  
            ng-model="file" 
            ngf-select="User.upload_pic( file )">
              <i class="material-icons ">add_a_photo</i>
          </md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="icon">
              <md-icon md-svg-icon="icon"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
         
        </md-card-content>
      </md-card> 
    </div> <!-- end of flex -->

    <div flex="50" flex-xs="100">
      
      
      <md-grid-list md-cols="3" md-row-height="6:2" >
        <md-grid-tile class="gray"
            md-rowspan="3" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="photo in User.photos">
          <img class="profile_thumbs" ng-src="{{ photo.avatar.url }}" >
          <md-grid-tile-footer>
            <md-menu>
         <!-- Trigger element is a md-button with an icon -->
             <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
               <i class="material-icons">info</i>
             </md-button>
             <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="User.update_profile( photo.id )">Make profile?</md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="User.delete_pic( photo.id )" class="width_100">Delete</md-button>
                  
                </md-menu-item>
             </md-menu-content>
            </md-menu>
          </md-grid-tile-footer>
        </md-grid-tile>
        
      </md-grid-list>
      
        
       

    </div> <!-- end of flex=50 flex-xs=100 -->
  </div> <!-- end of layout = row -->
</div> 

<div layout="column">
  
  
  
  <div layout-padding layout-fill flex >
   
    <md-content layout-padding flex class="gutter_75" ng-class="{no_subjects_warn:User.subjects.length==0}"> <!-- SUBJECT select -->
      <md-toolbar >
        <div class="md-toolbar-tools padding_10">
          <span layout-margin>Your Subjects</span>
        </div>
      </md-toolbar>
      <md-subheader class="md-primary no_padding">Search and select from dropdown</md-subheader>
      <md-autocomplete md-selected-item="selected_subject" 
            md-search-text="searchText" 
            md-items="subject in get_subjects()" 
            md-item-text="subject.name"
            md-selected-item-change="User.pick_subject( subject )"
            md-delay="300"

            class="black_text no_padding" placeholder="Choose your subjects">
        <md-item-template>
          <span md-highlight-text="searchText">{{subject.name}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>

      <div ng-messages="{ no_subjects:!User.subjects.length }" role="alert">
        <div ng-message="no_subjects" style="color:rgb(221,44,0);">You must select a subject for your profile to be active</div>
      </div>
      
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="subject in User.subjects">            
          <div class="md-list-item-text" layout="row">

            <div flex="90">
              <md-icon><i class="material-icons icon_yellow">insert_emoticon</i></md-icon>
              <span>{{subject.name}}</span>
            </div> <!-- end of flex=90 -->

            <div flex="10">
              <md-button class="md-icon-button" ng-click="User.remove_subject( subject )">
                <md-tooltip md-direction="left">
                  Remove subject
                </md-tooltip>
                <i class="material-icons icon_red">delete</i>
              </md-button>
            </div> <!-- end of flex=10 -->

          </div> <!-- end of md-list-item-text -->
        </md-list-item>
        <md-list-item ng-if="returned_subjects" ng-init="returned_subjects=false">

          <md-button class="md-raised md-warn white_text center_block"
                      ng-click="show_subject_request()">
                    Didn't find what you wanted?
            </md-button>
        </md-list-item>
      </md-list>
    </md-content> 
    <!-- end of subject select -->

    <!-- Levels -->
      <div layout="row" layout-align="space-around center">
        <div>
          <button class="roundy_buttons primary">Primary</button>
          <md-checkbox ng-model="isChecked" aria-label="Finished?">
          </md-checkbox>

        </div>

        <div>
          <button class="roundy_buttons jc" >Junior Cert</button>
        </div>

        <div></div>
        <div></div>
      </div>
    <!-- End of levels -->

    <!-- EXPERIENCE -->
    <md-card layout-padding layout-margin class="gutter_75 margin_t_10"> 
      <div layout="column" layout-fill>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span layout-margin>Your Experience</span>
            <!-- fill up the space between left and right area -->
            
          </div>
        </md-toolbar>
        <md-content>
          <form ng-submit="User.add_experience( experience )" name="experience_form">

            <md-input-container md-no-float class="md-block">
              <textarea ng-model="User.experience.description" 
                        aria-label="Experience description" 
                        md-maxlength="600"  
                        md-select-on-focus
                        placeholder="Enter your experience here">
              </textarea>
            </md-input-container>
            <div flex="10" >
              <md-button type="submit" class="md-primary md-raised ">Update Experience</md-button>
            </div>           
          </form> <!-- end of add_experience() -->
        </md-content>
      </div>
      
    </md-card> 
    <!-- END OF EXPERIENCE -->

    <!-- OVERVIEW -->
    <md-content layout-padding  class="gutter_75 margin_t_10" >
      <h3>Overview</h3>
      <md-divider></md-divider>
      <span ng-if="User.overview!=null" class="break_word">{{ User.overview }}</span>
      <p ng-if="User.overview==null">No overview set yet.</p>
      <p ng-if="User.overview==null">It's important to write a strong overview. Let people know about yourself</p>

      <md-divider></md-divider>
      <md-button  class="strong_blue white_text md-raised" ng-click="show_overview_sheet()">Update your overview</md-button>
      
      
    </md-content>
    <!-- END OF OVERVIEW -->

    <!-- QUALIFICATIONS -->
    <md-content class="gutter_75 margin_t_10" >
      <h3>Qualifications</h3>
      <md-divider></md-divider>     

      <p ng-if="User.qualifications.length==0">You can add qualifications here. e.g. Degrees, Diplomas</p>

      <md-list ng-if="User.qualifications.length>0">
        <md-list-item ng-repeat="qual in User.qualifications" >

          <div flex="90">
            <p><strong>{{ qual.title }}</strong></p>
         
            <p>School: {{ qual.school }}</p>
          </div> <!-- end of flex=90 -->

          <div flex="10">
            <md-button class="md-icon-button" ng-click="User.delete_qualification( qual )">
              <md-tooltip md-direction="left">
                Remove qual
              </md-tooltip>
              <i class="material-icons icon_red">delete</i>
            </md-button>
          </div> <!-- end of flex=10 -->

        </md-list-item>
      </md-list>

      
      <div layout="row" layout-align="end start" flex="100">
        <md-button  class="greyish_blue white_text md-raised" ng-click="show_qualification_sheet()">Create a qualification</md-button>
      </div>
      
    </md-content>
    <!-- END OF QUALIFICATIONS -->

    <!-- Password -->
    <md-content class="gutter_75 margin_t_10 center_text match_background" >
      <span id="left"></span>
      <div class="center_block">
        <md-button class="md-raised greyish_blue white_text"  ng-click="open_change_password()">Change your password</md-button>
      </div>
      <span id="right"></span>
    </md-content>
    <!-- End of password -->
    <md-content class="gutter_75 margin_t_10 center_text match_background">
      <md-card>
        <%= image_tag('outta_here.jpg', class: 'md-card-image width_50 center_block') %>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Registered as a teacher by mistake?</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Simply click below and we'll change you to a student. 
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button class="md-raised md-warn" ng-click="User.change_user_type( false )">I'm a student</md-button>
        </md-card-actions>
      </md-card>
    </md-content>

    <md-content ng-if="User.email=='corkcelloteacher@gmail.com'" class="center_text">
      <md-button  ng-click="open_delete()" class="md-raised md-warn">
        Delete my account please
      </md-button>
    </md-content>
  </div> <!-- end of column -->



</div> <!-- end of row -->