{{ profile }}
<div >
  <div layout="row">
    <div flex="50">
      <md-card >
        <md-card-header>
          <md-card-avatar ng-if="profile">
            <img ng-src="{{ profile.avatar.thumb.url }}" class="md-user-avatar ">
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ USER.first_name }} {{ USER.last_name }}</span>
            <span class="md-subhead">{{ USER.first_name }} {{ USER.last_name }}</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-if="profile" ng-src="{{ profile.avatar.url }}" 
            class="md-card-image" 
            alt="{{ USER.first_name }} profile pic">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Add pictures</span>
            <span class="md-subhead">Click camera below</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button  
            ng-model="file" 
            ngf-select="upload()">
              <i class="material-icons">add_a_photo</i>
          </md-button>
          <md-button>Action 2</md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="icon">
              <md-icon md-svg-icon="icon"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
          <p>
           Card content
          </p>
        </md-card-content>
      </md-card> 
    </div> <!-- end of flex -->

    <div flex="50">
      <md-card ng-if="photos.length>0">
        <md-grid-list md-cols="3" md-row-height="6:2">
          <md-grid-tile class="gray"
              md-rowspan="3" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="photo in photos">
            <img ng-src="{{ photo.avatar.url }}">
            <md-grid-tile-footer>
              <md-menu>
           <!-- Trigger element is a md-button with an icon -->
               <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                 <i class="material-icons">info</i>
               </md-button>
               <md-menu-content width="4">
                  <md-menu-item>
                    <md-button ng-click="make_profile( photo.id )">Make profile?</md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button ng-click="destroy_pic( photo.id )" class="width_100">Delete</md-button>
                    
                  </md-menu-item>
               </md-menu-content>
              </md-menu>
            </md-grid-tile-footer>
          </md-grid-tile>
          
        </md-grid-list>
        
      </md-card>    

    </div> 
  </div>
</div> 

<div layout="column" layout-fill>
  
  
  
  <div layout-padding layout-fill flex >
   
    <md-card layout-padding flex class="gutter_75"> <!-- SUBJECT select -->
      <md-autocomplete md-selected-item="selected_subject" 
            md-search-text="searchText" 
            md-items="subject in get_subjects()" 
            md-item-text="subject.name"
            md-selected-item-change="select_subject( subject )"
            md-delay="500"
            class="black_text no_padding" placeholder="Choose your subjects">
        <md-item-template>
          <span md-highlight-text="searchText">{{subject.name}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="subject in subjects">            
          <div class="md-list-item-text" layout="row">

            <div flex="90">
              <md-icon><i class="material-icons icon_yellow">insert_emoticon</i></md-icon>
              <span>{{subject.name}}</span>
            </div> <!-- end of flex=90 -->

            <div flex="10">
              <md-button class="md-icon-button" ng-click="remove_subject( subject )">
                <md-tooltip md-direction="left">
                  Remove subject
                </md-tooltip>
                <i class="material-icons icon_red">remove_circle</i>
              </md-button>
            </div> <!-- end of flex=10 -->
            
          </div> <!-- end of md-list-item-text -->
        </md-list-item>
      </md-list>
    </md-card> 
    <!-- end of subject select -->

    <!-- EXPERIENCE -->
    <md-card layout-padding layout-margin class="gutter_75 margin_t_10"> 
      <div layout="column" layout-fill>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span layout-margin>Your Experience</span>
            <!-- fill up the space between left and right area -->
            
          </div>
        </md-toolbar>
        <md-content>
          <form ng-submit="add_experience()" name="experience_form">

            <md-input-container md-no-float class="md-block">
              <textarea ng-model="experience.description" 
                        aria-label="Experience description" 
                        md-maxlength="200" 
                        rows="4" 
                        md-select-on-focus
                        placeholder="Enter your experience here">
              </textarea>
            </md-input-container>
            <div flex="10" >
              <md-button type="submit" class="tricolor_button_hover "><i class="material-icons green_add_icon">add_box</i></md-button>
            </div>           
          </form> <!-- end of add_experience() -->
        </md-content>
      </div>
      
    </md-card> 
    <!-- END OF EXPERIENCE -->

    <!-- OVERVIEW -->
    <md-content layout-padding  class="gutter_75 margin_t_10" >
      <h3>Overview</h3>
      <md-divider></md-divider>
      <p ng-if="USER.overview!=null">{{ USER.overview }}</p>
      <p ng-if="USER.overview==null">No overview set yet.</p>
      <p ng-if="USER.overview==null">It's important to write a strong overview. Let people know about yourself</p>

      <md-divider></md-divider>
      <md-button  class="strong_blue white_text md-raised" ng-click="show_overview_sheet()">Update your overview</md-button>
      
      
    </md-content>
    <!-- END OF OVERVIEW -->

    <!-- QUALIFICATIONS -->
    <md-content class="gutter_75 margin_t_10" >
      <h3>Qualifications</h3>
      <md-divider></md-divider>
      
      <md-list ng-if="quals.length>0">
        <md-list-item ng-repeat="qual in quals" >
        
          <p>{{ qual.title }}</p>
         
          <p>{{ qual.school }}</p>
        </md-list-item>
      </md-list>

      <p ng-if="quals.length==0">You can add qualifications here. e.g. Degrees, Diplomas</p>

      
      <div layout="row" layout-align="end start" flex="100">
        <md-button  class="greyish_blue white_text md-raised" ng-click="show_qualification_sheet()">Create a qualification</md-button>
      </div>
      
    </md-content>
    <!-- END OF QUALIFICATIONS -->
  </div> <!-- end of column -->
</div> <!-- end of row -->

