
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>


<md-content layout="row" layout-margin flex="auto" class="map_results">
  <div flex-xs flex-gt-xs="75" >
    <md-card flex>
      <%= image_tag 'location_search.png', class: 'percent_10_w' %>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ USER.location.address || "Awaiting your address" }}</span>
        </md-card-title-text>
      </md-card-title>
      <!-- <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="Favorite">
            s
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            b
          </md-button>
        </md-card-icon-actions>
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions> -->
      <md-card-content>
        

      </md-card-content>
    </md-card>
  </div>

  <div flex-xs flex-gt-xs="50">
    <md-content  ng-show="addresses" class="fancy">
      <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Select your address</md-subheader>
        <form class="location_results ">
          <md-list-item ng-repeat="address in addresses">
            <p>{{ address.formatted_address }}</p>
            <md-checkbox ng-model="address.checked" ng-click="updateSelection($index, addresses)"> </md-checkbox>
          </md-list-item>
          
        </form>
        <md-button type="submit" class="md-raised md-primary white_text" ng-click="update_address()">Update address</md-button>
        <md-button class="md-raised md-warn white_text" ng-click="open_location_sheet()">Or enter manually</md-button>
      </md-list>
    </md-content>
  </div>
</md-content>