<div layout="row">
  
  <div flex>
    <md-card >
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" ng-src="{{ profile }}">
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{ USER.first_name }} {{ USER.last_name }}</span>
          <span class="md-subhead">Sub header</span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="{{ profile }} " class="md-card-image" alt="image caption">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card headline</span>
          <span class="md-subhead">Card subheader</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="center" flex>
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="icon">
            <md-icon md-svg-icon="icon"></md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
      <md-card-content>
        <div class="button" ngf-select="upload($file)">Upload on file select</div>

      </md-card-content>
    </md-card> 
    
  </div>

  <div layout-padding flex>
    <md-card>
      <md-grid-list
              md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="8px" >
        <md-grid-tile class="gray"
            md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="photo in photos">
          <img ng-src="{{ photo.avatar.url }}">
          <md-grid-tile-footer>
            <md-menu>
         <!-- Trigger element is a md-button with an icon -->
             <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
               <i class="material-icons">info</i>
             </md-button>
             <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="make_profile(photo.id)">Make profile?</md-button>
                </md-menu-item>
             </md-menu-content>
            </md-menu>
          </md-grid-tile-footer>
        </md-grid-tile>
        
      </md-grid-list>
      
    </md-card>
  </div>
  
  <div flex>
    <md-card layout-padding>

      <md-autocomplete md-selected-item="selected_subject" md-search-text="searchText" 
            md-items="subject in get_subjects()" md-item-text="subject.name"
            md-selected-item-change="select_subject( subject )"
            md-menu-class="subject_search"
            md-delay="500"
            class="black_text subject_search" placeholder="Choose your subjects">
        <md-item-template>
          <span md-highlight-text="searchText">{{subject.name}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>

      <md-list>
        <md-list-item class="md-2-line" ng-repeat="subject in subjects">
          
          <div class="md-list-item-text" layout="row">

            <div flex="90">
              <md-icon><i class="material-icons">insert_emoticon</i></md-icon>
              <span>{{subject.name}}</span>
            </div> <!-- end of flex=90 -->

            <div flex="10">
              <md-button class="md-icon-button" ng-click="remove_subject( subject )">
                <md-icon><i class="material-icons">thumb_down</i></md-icon>
              </md-button>
            </div> <!-- end of flex=10 -->
            
          </div>
        </md-list-item>
      </md-list>
    </md-card>
  </div>

</div> <!-- end of column -->
