<!--Only address-->
<div ng-if="teacher_loaded && !teacher.qualifications.length && !teacher.experience && !teacher.overview && !teacher.photos.length">
  <div layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-wrap flex class="gutter_90">
    <div  flex-xs="100" flex-sm="100" flex-gt-sm="40" layout-fill >
      <md-card class="no_margin_on_small">
        <md-card-header>
          <md-card-avatar ng-if="profile">
            <img class="md-user-avatar" ng-src="{{ profile.avatar.url }}">
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ teacher.first_name }} {{ teacher.last_name }}</span>
            <!-- <span class="md-subhead">Sub header</span> -->
          </md-card-header-text>
        </md-card-header>
        <img ng-if="profile" ng-src="{{ profile.avatar.url }}" class="md-card-image" alt="image caption">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Subject(s)</span>

            <md-chips ng-model="teacher.subjects" readonly="true" >
              <md-chip-template>{{ $chip.name }}</md-chip-template>
            </md-chips>
            <span class="md-headline">Address</span>
            {{ teacher.location.address }}<br>
            {{ teacher.location.county }}

            <!-- Travel option -->
            <div ng-if="teacher.travel" class="margin_t_8 center_text raisedbox" layout-align="space-between" layout="row">
              <div><md-icon  class="navy_icon"><i class="material-icons" >subway</i></md-icon> </div>

              <div>This teacher will travel </div>

              <div><md-icon  class="navy_icon"><i class="material-icons" >subway</i></md-icon></div>
            </div>
            <!-- End of travel option -->
            
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <!-- Contact buttons -->  
            <div ng-include="'includes/contact_buttons.html'" flex="100"></div>
          <!-- End od contact buttons -->

          <!-- <md-button ><i class="material-icons">history</i></md-button> -->
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="icon">
              <md-icon md-svg-icon="icon"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content class="padding_5">
          <p class="icon_button">
           <i class="material-icons">remove_red_eye</i> {{ teacher.view_count }}
          </p>
          <!-- Display teachers levels -->
          <div  ng-if="teacher.primary || teacher.jc || teacher.lc || teacher.third_level" 
                class="margin_t_10" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                <span layout-margin>Levels taught</span>
                <!-- fill up the space between left and right area -->            
              </div>
            </md-toolbar>

            <div layout-xs="row"
                layout-sm="row"
                layout-gt-sm="row"
                class="margin_t_10"
                layout-align="space-around" flex>
              <div ng-if="teacher.primary">
                <button  class="search_roundy_buttons primary">Primary</button>
                
              </div>

              <div ng-if="teacher.jc">
                <button  class="search_roundy_buttons jc" >Junior Cert</button>
                
              </div>
              
              <div ng-if="teacher.lc">
                <button  class="search_roundy_buttons lc" >Leaving Cert</button>
              </div>

              <div ng-if="teacher.third_level">
                <button  class="search_roundy_buttons third_level" >Third level</button>
              </div>            
            </div>
          </div>

          <!-- End of display teachers levels -->

          <!-- Vetting and TCI -->
          <div ng-if="teacher.tci || teacher.garda" ng-include="'includes/vetting_tci.html'"></div>
        </md-card-content>
      </md-card>
    </div> <!-- end of flex=30 -->


    <div flex-gt-sm="60" layout-fill >


      <span ng-include="'user/_map.html'"></span>
    </div>
  </div>
</div>
<!-- End of Only address -->

<!-- Only Address and map -->
<div ng-if="teacher_loaded && ( teacher.overview || teacher.qualifications.length > 0 || teacher.experience || teacher.photos.length )" >
  <div layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-wrap flex class="gutter_90">
    <div  flex-xs="100" flex-sm="100" flex-gt-sm="40" layout-fill >
      <md-card class="no_margin_on_small">
        <md-card-header>
          <md-card-avatar ng-if="profile">
            <img class="md-user-avatar" ng-src="{{ profile.avatar.url }}">
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ teacher.first_name }} {{ teacher.last_name }}</span>
            <!-- <span class="md-subhead">Sub header</span> -->
          </md-card-header-text>
        </md-card-header>
        <img ng-if="profile" ng-src="{{ profile.avatar.url }}" class="md-card-image" alt="image caption">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Subject(s)</span>
            <div class="manual_chip_container">
              <span class="manual_chip" ng-repeat="subject in teacher.subjects">{{ subject.name }}</span>
            </div>
            <span class="md-headline">Address</span>
            {{ teacher.location.address }}<br>
            {{ teacher.location.county }}

            <!-- Travel option -->
            <div ng-if="teacher.travel" class="margin_t_8 center_text raisedbox" layout-align="space-between" layout="row">
              <div><md-icon  class="navy_icon"><i class="material-icons" >subway</i></md-icon> </div>

              <div>This teacher will travel </div>

              <div><md-icon  class="navy_icon"><i class="material-icons" >subway</i></md-icon></div>
            </div>
            <!-- End of travel option -->

          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center center">
          <!-- Contact buttons -->
          <div ng-include="'includes/contact_buttons.html'" flex="100"></div>

          <!-- End of cantact buttons -->


          <!-- <md-button ><i class="material-icons">history</i></md-button> -->
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="icon">
              <md-icon md-svg-icon="icon"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content class="padding_5">
          <p class="icon_button">
           <i class="material-icons">remove_red_eye</i> {{ teacher.view_count }}
          </p>
          <!-- Display teachers levels -->
          <div  ng-if="teacher.primary || teacher.jc || teacher.lc || teacher.third_level" 
                class="margin_t_10" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                <span layout-margin>Levels taught</span>
                <!-- fill up the space between left and right area -->            
              </div>
            </md-toolbar>

            <div layout-xs="row"
                layout-sm="row"
                layout-gt-sm="row"
                class="margin_t_10"
                layout-align="space-around" flex>
              <div ng-if="teacher.primary">
                <button  class="search_roundy_buttons primary">Primary</button>
                
              </div>

              <div ng-if="teacher.jc">
                <button  class="search_roundy_buttons jc" >Junior Cert</button>
                
              </div>
              
              <div ng-if="teacher.lc">
                <button  class="search_roundy_buttons lc" >Leaving Cert</button>
              </div>

              <div ng-if="teacher.third_level">
                <button  class="search_roundy_buttons third_level" >Third level</button>
              </div>            
            </div>
          </div>

          <!-- End of display teachers levels -->

          <!-- Vetting and TCI -->
          <div ng-if="teacher.tci || teacher.garda" ng-include="'includes/vetting_tci.html'"></div>
        </md-card-content>
      </md-card>
    </div> <!-- end of flex=30 -->


    <div flex-gt-sm="60" layout-fill >


     <span ng-include="'user/_map.html'"></span>

      <md-content ng-if="teacher.overview">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span layout-margin>Overview</span>
          <!-- fill up the space between left and right area -->            
        </div>
      </md-toolbar>
        <md-card>
          
          <md-card-content class="break_word">
            
             {{ teacher.overview }}
          </md-card-content>
        </md-card>
      </md-content>

      <md-content ng-if="teacher.experience">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span layout-margin>Experience</span>
          <!-- fill up the space between left and right area -->            
        </div>
      </md-toolbar>
        <md-card>
          
          <md-card-content class="break_word">
            
             {{ teacher.experience.description }}
          </md-card-content>
        </md-card>
      </md-content>

      <md-content ng-if="teacher.qualifications.length>0">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span layout-margin>Qualifications</span>
            <!-- fill up the space between left and right area -->            
          </div>
        </md-toolbar>
        <md-card ng-repeat="qual in teacher.qualifications">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline"><strong>Title: </strong>{{ qual.title }}</span>
            </md-card-title-text>
            
          </md-card-title>
          <md-card-content>
            
             <strong>School: </strong>{{ qual.school }}
          </md-card-content>
        </md-card>
      </md-content>

      <md-content class="slide_container" style="background-color: #e0ebf4;">
        <img ng-repeat="slide in slides" class="slide center_block" ng-src="{{ slide.pic }}" ng-show="slide.index==index"> 
      </md-content> <!-- end of slide container -->
      
    </div> <!-- end of flex="70" -->

    
  </div> <!-- end of row -->

</div>
<!-- End of only address and map -->

<!-- ld-json bit -->
<jsonld data-json="jsonId"></jsonld>
<!-- end of ld-json bit -->
