<div ng-controller="NavController" ng-cloak>
  <!-- Start of menu bar-->
  <div class="bottom_bit" layout="row" layout-align="space-around none" style="background-color: #f5f5f5;">
    
  </div>

  <div  layout-padding  style="height: 80px;background-color: #f5f5f5;">
    <div layout="row" class="gutter_75" layout-align="space-between ">

      <div hide-xs>
        <a ui-sref="welcome"><img src="<%= asset_url 'lyl_joined.png' %>" alt="learn your lesson"></a>
      </div>

      <div hide-xs style="height:140px;" ui-sref-active="active_bla" class="margin_t_10">
        <a class="black_text margin_r_10" ui-sref-active="active_bla white_text" ui-sref="contact">Contact Us</a>
      </div>

      <div  class="margin_t_10">
        <a class="black_text" ui-sref-active="active_bla white_text" ui-sref="about">About Us</a>
      </div>

      <div>
        <md-menu>
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="open_home_menu($mdOpenMenu, $event)">
            <md-icon><i class="material-icons">menu</i></md-icon>
          </md-button>

          <md-menu-content>
            <md-menu-item>
            <md-button ui-sref="teacher({id:User.id})" class="md-button md-default-theme green_text">Profile</md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ui-sref="teacher_area({id:User.id})" class="md-button md-default-theme green_text">Calendar</md-button>
            </md-menu-item>
            
            <md-menu-item>
              <md-button ui-sref="teacher_location({id:User.id})" class="md-button md-default-theme green_text">Location</md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ui-sref="conversation" class="md-button md-default-theme green_text">Messages</md-button>
            </md-menu-item>
            
            <md-menu-item ng-if="User.admin">
              <md-button class="md-button md-default-theme " ui-sref="admin" >Admin</md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button class="md-button md-default-theme " ng-click="auth.logout()">Logout</md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
      </div>

    </div>
    
  </div>
  <!-- End of menu bar -->

  <!--#################### Content ############################-->

  <div class="main main_page" layout="column" id="main" flex>
    <md-content class="scroll_animate">
      <div class="main_page top_bit" id="main_page" ui-view ng-cloak>

      </div> <!-- angular view rendered here -->

      <div class="bottom_bit" layout="row" layout-align="space-around none">
        <div ><a class="white_text margin_r_10" ui-sref="contact">Contact Us</a></div>
        <div ><a class="white_text" ui-sref="about">About Us</a></div>
      </div>
    </md-content>
  </div>

  <!--#################### End of content ############################-->
</div>


