<div ng-controller="NavController" ng-cloak>
  <!-- Start of menu bar-->
  <div class="bottom_bit" layout="row" layout-align="space-around none" style="background-color: #f5f5f5;">
    <div ><a class="black_text margin_r_10" ui-sref="contact">Contact Us</a></div>
    <div ><a class="black_text" ui-sref="about">About Us</a></div>
  </div>

  <div  layout-padding  style="height: 80px;background-color: #f5f5f5;">
    <div layout="row" class="gutter_90" layout-align="space-between ">
      <div><img src="<%= asset_url 'lyl_joined.png' %>" alt="learn your lesson"></div>
      <div>
        <md-menu>
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="open_home_menu($mdOpenMenu, $event)">
            <md-icon><i class="material-icons">menu</i></md-icon>
          </md-button>

          <md-menu-content>
            <md-menu-item>aaaaa</md-menu-item>
            <md-menu-item>abababa</md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
    
  </div>
  <!-- End of menu bar -->

  <!--#################### Content ############################-->

  <div class="main main_page" layout="column" id="main" flex>
    <md-content class="scroll_animate">
      <div class="main_page top_bit" id="main_page" ui-view ng-cloak>

      </div> <!-- angular view rendered here -->

      <div class="bottom_bit" layout="row" layout-align="space-around none">
        <div ><a class="white_text margin_r_10" ui-sref="contact">Contact Us</a></div>
        <div ><a class="white_text" ui-sref="about">About Us</a></div>
      </div>
    </md-content>
  </div>

  <!--#################### End of content ############################-->
</div>


