
<div  class="main_page" ng-cloak layout="column" layout-fill ng-controller="NavController" >
  <!-- Start of menu bar-->

  <div ng-if="isPageFullyLoaded" layout-padding  style="height: 80px;background-color: #f5f5f5;">
    <div  layout="row" class="gutter_90" layout-align="space-between ">

      <div >
        <a ui-sref="welcome"><img src="<%= asset_url 'small_logo.jpg' %>" alt="learn your lesson"></a>
      </div>

      <div ng-if="false" hide-xs  ui-sref-active="active_bla" class="margin_t_10">
        <a class="black_text margin_r_10" ui-sref-active="active_bla white_text" ui-sref="contact">Contact Us</a>
      </div>

      <div hide-xs flex-sm="18" flex-gt-sm="40"></div>

      <div ng-cloak layout="row">
        <div hide-xs class="margin_t_8 no_padding">
          <md-menu>
           <!-- Trigger element is a md-button with an icon -->
           <span ng-click="open_subjects_menu($mdOpenMenu, $event)" class=" width_auto no_padding no_margin" aria-label="Open sample menu">
             Subjects<md-icon><i class="material-icons">keyboard_arrow_down</i></md-icon>
           </span>
           <md-menu-content width="4">
             <md-menu-item ng-repeat="s in subject_list_for_menu">
              <md-button ui-sref="search({ name: s.name })">{{ s.name }}</md-button>
            </md-menu-item>
           </md-menu-content>
          </md-menu>
        </div>

        <div hide-xs  class="margin_t_10">
          <a class="black_text" ui-sref-active="active_bla white_text" ui-sref="about">|&nbsp; About Us &nbsp;</a>
        </div>

        <!-- Teacher/User menu mess -->

        <!-- Teacher menu -->
        <div ng-cloak ng-if="User && User.is_teacher" ng-include="'includes/teacher_logged_in_menu.html'"></div>

        <!-- Student menu -->
        <div ng-cloak ng-if="User && !User.is_teacher" ng-include="'includes/student_logged_in_menu.html'"></div>

        <div ng-cloak ng-if="!User" class="margin_t_10">
          <a class="black_text"  ui-sref="register_teacher"><span hide-xs>|</span>&nbsp; Become a teacher&nbsp;</a>
        </div>

        <div ng-cloak class="margin_t_10 no_padding" ng-if="!User">
          <div id="login_hook" ng-click="open_login()"><span hide-xs>|</span>&nbsp; Login</div>
        </div>
      </div>

      <!-- End of Teacher/User mess -->

    </div>
    
  </div>
  <!-- End of menu bar -->

 
  <!--#################### Content ############################-->

  <div class="main main_page" layout="column" id="main" flex>
    <md-content class="scroll_animate">
      <div class="main_page top_bit" id="main_page" ui-view ng-cloak> 

      </div> <!-- angular view rendered here -->

      <div class="bottom_bit" layout="row" layout-align="space-around none">
        <div ><a class="white_text margin_r_10" ui-sref="contact">Contact Us</a></div>
        <div ><a class="white_text" ui-sref="about">About Us</a></div>
      </div>
    </md-content>
  </div>

  <!--#################### End of content ############################-->
</div>