
<div class="main_page" ng-cloak layout="column" layout-fill ng-controller="NavController" >

  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-around center">

      <!-- Hide fab-speed-dial on mobile -->
      <md-fab-speed-dial hide-xs md-direction="right" md-open="demo.isOpen"
                       class="md-scale md-fab-top-left" ng-class="{ 'md-hover-full': demo.hover }"
                       >
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Menu</md-tooltip>
            <md-icon  aria-label="menu"><i class="material-icons">menu</i></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions ng-if="!User" >
          <md-button class="md-button md-default-theme green_blue_text" ng-click="openLeftMenu(0)">Login</md-button>
          <md-button class="md-button md-default-theme green_blue_text" ng-click="openLeftMenu(2)">Student Register</md-button>
          <md-button class="md-button md-default-theme green_blue_text" ui-sref="register_teacher">Teacher Register</md-button>
        </md-fab-actions> <!-- end of if !User -->

        <md-fab-actions ng-if="User && User.is_teacher" class="green_blue_text">
          <md-button ui-sref="teacher({id:User.id})" class="md-button md-default-theme green_text">Profile</md-button>
          <md-button ui-sref="teacher_area({id:User.id})" class="md-button md-default-theme green_text">Calendar</md-button>
          <md-button ui-sref="teacher_location({id:User.id})" class="md-button md-default-theme green_text">Location</md-button>
          <md-button ui-sref="conversation({id:User.id})" class="md-button md-default-theme green_text">Messages</md-button>
          <md-button class="md-button md-default-theme gree_blue_text" ui-sref="admin" ng-if="User.admin">Admin</md-button>

          <md-button class="md-button md-default-theme green_blue_text" ng-click="auth.logout()">Logout</md-button>
        </md-fab-actions>

        <md-fab-actions ng-if="User && !User.is_teacher" class="green_blue_text">
          <md-button ui-sref="student_profile({id:User.id})" class="md-button md-default-theme green_text">Profile</md-button>
          <md-button ui-sref="conversation({id:User.id})" class="md-button md-default-theme green_text">Messages</md-button>
          <md-button class="md-button md-default-theme green_blue_text" ng-click="auth.logout()">Logout</md-button>
        </md-fab-actions>

      </md-fab-speed-dial>


      <md-icon ng-show="!User" hide-gt-xs ng-click="user_menu()" class="white_text"><i class="material-icons">face</i></md-icon>
      <md-icon ng-show="User" hide-gt-xs ng-click="user_menu()" class="white_text"><i class="material-icons">face</i></md-icon>





      <span flex="30"></span>
      <!-- <h4 class="white_text">Learn your lesson</h4> -->
      <img ui-sref="welcome" src="<%= asset_path('lylLogo.png') %>" class="md-48 lyl_logo">
      <span flex="20"></span>
     
      <button  class="md-button md-default-theme white_text" ui-sref="contact">
        <md-icon hide-xs><i class="material-icons">contact_mail</i></md-icon> Contact Us
      </button>

      <button ng-if="false" class="md-button md-default-theme white_text" ng-click="openRightMenu()"><i class="material-icons">menu</i></button>
      
    </div> <!-- dnf of md-toolbar-tools -->
  </md-toolbar>

  <div class="main_page" layout="column" flex>
    <!-- ################## User left menu ############################# -->
    <md-sidenav ng-if="!User" hide-gt-xs md-component-id="user_menu" class="md-sidenavleft user_menu height_50">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Choices</h1>
      </md-toolbar>
      <md-content>
        <md-button class="md-button md-default-theme " ng-click="openLeftMenu(0); user_menu()">Login</md-button>
        <md-button class="md-button md-default-theme " ng-click="openLeftMenu(2); user_menu()">Student Register</md-button>
        <md-button class="md-button md-default-theme " ui-sref="register_teacher" ng-click="user_menu()">Teacher Register</md-button>
      </md-content>
    </md-sidenav>

    <md-sidenav ng-if="User && User.is_teacher" hide-gt-xs md-component-id="user_menu" class="md-sidenav-left user_menu">
      <div layout="column"  layout-align="center end">
        <md-toolbar class="dark_moderate_cyan_background white_text">
          <h1 class="md-toolbar-tools">Choices</h1>
        </md-toolbar>
        <md-button ui-sref="teacher({id:User.id})" ng-click="user_menu()" class="md-button md-default-theme green_text">Profile</md-button>
        <md-button ui-sref="teacher_area({id:User.id})" ng-click="user_menu()" class="md-button md-default-theme green_text">Calendar</md-button>
        <md-button ui-sref="teacher_location({id:User.id})" ng-click="user_menu()" class="md-button md-default-theme green_text">Location</md-button>
        <md-button ui-sref="conversation({id:User.id})" ng-click="user_menu()" class="md-button md-default-theme green_text">Messages</md-button>

        <md-button ng-if="User.admin" ui-sref="admin" class="md-button md-default-theme green_text">Admin</md-button>
        <md-button class="md-button md-default-theme green_blue_text" ng-click="auth.logout();user_menu()">Logout</md-button>
        <md-divider md-inset ></md-divider>
        <md-icon ng-click="user_menu()"><i class="material-icons">arrow_back</i><md-icon>
      </div>
    </md-sidenav>

    <md-sidenav ng-if="User && !User.is_teacher" hide-gt-xs md-component-id="user_menu" class="md-sidenav-left user_menu height_30">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Choices</h1>
      </md-toolbar>
      <md-content>
        <md-button ui-sref="student_profile({id:User.id})" ng-click="user_menu()" class="md-button md-default-theme green_text">Profile</md-button>
        <md-button ui-sref="conversation({id:User.id})" ng-click="user_menu()" class="md-button md-default-theme green_text">Messages</md-button>
        <md-button class="md-button md-default-theme green_blue_text" ng-click="auth.logout()">Logout</md-button>
      </md-content>
    </md-sidenav>
    <!-- ################# End of user left menu ######################### -->



    
    <!--#################### Left sidenav ############################-->
    <md-sidenav class="sidenav white_text increase_z md-whiteframe=12" md-component-id="left" flex>
       <div  ng-cloak ng-if="!User">
         <br/>
         <md-content class="md-no-momentum">
           <md-input-container ng-if="auth_type!=0">
             <md-subheader>Register</md-subheader>
             <form ng-submit="register_teacher()" >
               <md-input-container class="md-icon-float md-block black_text" >
                 <!-- Use floating label instead of placeholder -->
                 <label>First Name</label>
                 <md-icon class="name"></md-icon>
                 <input ng-model="teacher.first_name" type="text" name="first name" required class="black_text">
               </md-input-container>

               <md-input-container class="md-icon-float md-block black_text" >
                 <!-- Use floating label instead of placeholder -->
                 <label>Last Name</label>
                 <md-icon class="name"></md-icon>
                 <input ng-model="teacher.last_name" type="text" name="last name" class="black_text" required>
               </md-input-container>

              
               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="email"></md-icon>
                 <input ng-model="teacher.email" type="email" name="email" placeholder="Email (required)"  class="black_text" required>
               </md-input-container>
               
               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="password"></md-icon>
                 <input ng-model="teacher.password" type="password" name="password" placeholder="Password (required)" class="black_text" required>
               </md-input-container>

               

               <md-button class="md-primary md-raised not_transparent" name="submit" type="submit"> 
                 Submit
               </md-button>
               <p flex-offset="15">or</p>
               <div ng-click="facebook()">
                <%= image_tag('facebook_login.jpg', class: 'width_75') %>
               </div>
               <br>
               <a ui-sref="reset_password">Forgot your password</a>
             </form>
           </md-input-container> <!-- end of ng-if="auth_type==1" -->

           <md-input-container ng-if="auth_type==0">
             <md-subheader>Login</md-subheader>
             <form ng-submit="auth.login( teacher)" >

               <!-- <md-input-container class="md-block">
                 <md-icon class="lastName"></md-icon>
                 <input ng-model="teacher.lastName" type="text" placeholder="Last Name" required>
               </md-input-container>
      -->
               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="email"></md-icon>
                 <input ng-model="teacher.email" class="black_text" type="email" name="email" placeholder="Email (required)" required>
               </md-input-container>

               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="password"></md-icon>
                 <input ng-model="teacher.password" class="black_text" type="password" name="password" placeholder="Password (required)" required>
               </md-input-container>

               
               
               <md-button class="md-primary md-raised" type="submit"> 
                 Submit
               </md-button>

               <p flex-offset="15">or</p>
               <div ng-click="facebook()">
                <%= image_tag('facebook_login.jpg', class: 'width_75') %>
               </div>

               <br>
               <a ui-sref="reset_password">Forgot your password</a>
             </form>
           </md-input-container> <!-- end of ng-if="auth_type==1" -->


           <button class="md-button md-default-theme" ng-click="openLeftMenu()"hide-gt-md="">
             <i class="material-icons">keyboard_arrow_left</i>
           </button>
         </md-content>
       </div>

    </md-sidenav>
    <!--#################### End of Left sidenav ############################-->

    <!--#################### Content ############################-->

    <div class="main main_page" layout="column" flex>
      <md-content class="tuff">
        <div class="main_page top_bit" id="main_page" ui-view ng-cloak> 

        </div> <!-- angular view rendered here -->

        <div ng-if="false" class="bottom_bit" layout="row" layout-align="space-around none">
          <div ><a class="white_text" ui-sref="contact">Contact Us</a></div>
          <div ><a class="white_text" ui-sref="about">About Us</a></div>
        </div>
      </md-content>
    </div>

    <!--#################### End of content ############################-->

    <md-sidenav class="md-sidenav-right md-whiteframe-12dp" md-component-id="right" >
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content  layout-padding >
        <button class="md-button md-default-theme" ui-sref="register_teacher" ng-click="closeRightMenu()" md-ink-ripple="#FF0000">Become a teacher</button>
       <!--  <button ui-sref="how_it_works" ng-click="closeRightMenu()" class="md-button md-default-theme " md-ink-ripple="#FF0000">How it works</button><br> -->
        <button ui-sref="mailing_list" ng-click="closeRightMenu()" class="md-button md-default-theme " md-ink-ripple="#FF0000">
          Mailing list
        </button><br>
        <md-button ng-click="closeRightMenu()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav> <!-- end of md-sidenav right -->
  </div>  <!-- end of main_page -->
</div>