<div class="main_page" layout="column" layout-fill ng-controller="NavController" >
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-around center">
      <md-fab-speed-dial ng-hide="demo.hidden" md-direction="right" md-open="demo.isOpen"
                       class="md-scale md-fab-top-left" ng-class="{ 'md-hover-full': demo.hover }"
                       >
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
            <md-icon  aria-label="menu"><i class="material-icons">menu</i></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions ng-if="!USER" >
          <md-button class="md-button md-default-theme green_blue_text" ng-click="openLeftMenu(0)">Login</md-button>
          <md-button class="md-button md-default-theme green_blue_text" ng-click="openLeftMenu(1)">Register</md-button>
        </md-fab-actions> <!-- end of if !USER -->

        <md-fab-actions ng-if="USER && USER.is_teacher" class="green_blue_text">
          <md-button ui-sref="teacher({id:USER.id})" class="md-button md-default-theme green_text">Profile</md-button>
          <md-button ui-sref="teacher_area({id:USER.id})" class="md-button md-default-theme green_text">Your area</md-button>
          <md-button ui-sref="teacher_location({id:USER.id})" class="md-button md-default-theme green_text">Location</md-button>
          <md-button ui-sref="conversation({id:USER.id})" class="md-button md-default-theme green_text">Messages</md-button>
          <md-button class="md-button md-default-theme green_blue_text" ng-click="logout()">Logout</md-button>
        </md-fab-actions>

        <md-fab-actions ng-if="USER && !USER.is_teacher" class="green_blue_text">
          <md-button ui-sref="conversation({id:USER.id})" class="md-button md-default-theme green_text">Messages</md-button>
          <md-button class="md-button md-default-theme green_blue_text" ng-click="logout()">Logout</md-button>
        </md-fab-actions>

      </md-fab-speed-dial>
      <span flex="30"></span>
      <!-- <h4 class="white_text">Learn your lesson</h4> -->
      <img ui-sref="welcome" src="<%= asset_path('lylLogo.png') %>" class="md-48">
      <span flex="20"></span>
     
      <button class="md-button md-default-theme white_text" ng-click="openRightMenu()"><i class="material-icons">menu</i></button>
      
    </div> <!-- dnf of md-toolbar-tools -->
  </md-toolbar>

  <div class="main_page" layout="column" flex>

    <!--#################### Left sidenav ############################-->
    <md-sidenav class="sidenav white_text md-whiteframe=12" md-component-id="left" flex>
       <div  ng-cloak ng-if="!USER">
         <br/>
         <md-content class="md-no-momentum">
           <md-input-container ng-if="auth_type!=0">
             <md-subheader>Register</md-subheader>
             <form ng-submit="register_teacher()" >
               <md-input-container class="md-icon-float md-block black_text" >
                 <!-- Use floating label instead of placeholder -->
                 <label>First Name</label>
                 <md-icon class="name"></md-icon>
                 <input ng-model="teacher.first_name" type="text" required class="black_text">
               </md-input-container>

               <md-input-container class="md-icon-float md-block black_text" >
                 <!-- Use floating label instead of placeholder -->
                 <label>Last Name</label>
                 <md-icon class="name"></md-icon>
                 <input ng-model="teacher.last_name" type="text" class="black_text" required>
               </md-input-container>

               <!-- <md-input-container class="md-block">
                 <md-icon class="lastName"></md-icon>
                 <input ng-model="teacher.lastName" type="text" placeholder="Last Name" required>
               </md-input-container>
      -->
               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="email"></md-icon>
                 <input ng-model="teacher.email" type="email" placeholder="Email (required)"  class="black_text" required>
               </md-input-container>
               
               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="password"></md-icon>
                 <input ng-model="teacher.password" type="password" placeholder="Password (required)" class="black_text" required>
               </md-input-container>

               
               <md-button class="md-primary md-raised not_transparent" type="submit"> 
                 Submit
               </md-button>

               <a ui-sref="reset_password">Forgot your password</a>
             </form>
           </md-input-container> <!-- end of ng-if="auth_type==1" -->

           <md-input-container ng-if="auth_type==0">
             <md-subheader>Login</md-subheader>
             <form ng-submit="login()" >

               <!-- <md-input-container class="md-block">
                 <md-icon class="lastName"></md-icon>
                 <input ng-model="teacher.lastName" type="text" placeholder="Last Name" required>
               </md-input-container>
      -->
               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="email"></md-icon>
                 <input ng-model="teacher.email" class="black_text" type="email" name="email" placeholder="Email (required)" required>
               </md-input-container>

               <md-input-container class="md-block">
                 <!-- Use floating placeholder instead of label -->
                 <md-icon  class="password"></md-icon>
                 <input ng-model="teacher.password" class="black_text" type="password" name="password" placeholder="Password (required)" required>
               </md-input-container>

               
               <md-button class="md-primary" type="submit"> 
                 Submit
               </md-button>
               <a ui-sref="reset_password">Forgot your password</a>
             </form>
           </md-input-container> <!-- end of ng-if="auth_type==1" -->


           <button class="md-button md-default-theme" ng-click="openLeftMenu()"hide-gt-md="">
             <i class="material-icons">keyboard_arrow_left</i>
           </button>
         </md-content>
       </div>

    </md-sidenav>
    <!--#################### End of Left sidenav ############################-->

    <!--#################### Content ############################-->
    <md-content class="main_page" ui-view class="main" layout="column" flex id="meballs" scroll scroll-event="scrollevent">
      
    </md-content>
    <!--#################### End of content ############################-->

    <md-sidenav class="md-sidenav-right md-whiteframe-12dp" md-component-id="right" >
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content  layout-padding >
        <button class="md-button md-default-theme" ui-sref="register" ng-click="closeRightMenu()" md-ink-ripple="#FF0000">Become a teacher</button>
       <!--  <button ui-sref="how_it_works" ng-click="closeRightMenu()" class="md-button md-default-theme " md-ink-ripple="#FF0000">How it works</button><br> -->
        <button ui-sref="mailing_list" ng-click="closeRightMenu()" class="md-button md-default-theme " md-ink-ripple="#FF0000">
          Mailing list
        </button><br>
        <md-button ng-click="closeRightMenu()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav> <!-- end of md-sidenav right -->
  </div>  <!-- end of container -->
</div>