<span us-spinner spinner-key="spinner-1"></span>


<md-toolbar md-scroll-shrink aria-hidden="false" class="md-default-theme white_text" >
  <div class="md-toolbar-tools" layout="row" layout-align="space-around center">
    
    <img src="<%= asset_path('lylLogo.png') %>" class="md-48">
    
    <button class="md-button md-default-theme white_text" ui-sref="register">Become a teacher</button>
    <button ui-sref="how_it_works" class="md-button md-default-theme white_text">How it works</button>
    <button tabindex="0" aria-label="Search" ui-sref="mailing_list" class="md-button md-default-theme white_text" >
      <i class="material-icons">email</i>
    </button>
    <button tabindex="0" ng-click="openLeftMenu()" hide-gt-md="" aria-label="Menu" class="md-button md-default-theme white_text" >
      <ng-md-icon class="ng-scope" icon="menu"><i class="material-icons">view_headline</i></ng-md-icon>
    </button>
  </div>
 
</md-toolbar>

<div class="container" layout="row" flex>
  <md-sidenav class="sidenav white_text" md-component-id="left">


    <div layout="column" layout-padding ng-cloak ng-if="!USER">
      <br/>
      <md-content class="md-no-momentum">
        <form ng-submit="register_teacher()">
          <md-input-container class="md-icon-float md-block" >
            <!-- Use floating label instead of placeholder -->
            <label>First Name</label>
            <md-icon class="name"></md-icon>
            <input ng-model="teacher.name" type="text" required>
          </md-input-container>

          <!-- <md-input-container class="md-block">
            <md-icon class="lastName"></md-icon>
            <input ng-model="teacher.lastName" type="text" placeholder="Last Name" required>
          </md-input-container>
 -->
          <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon  class="email"></md-icon>
            <input ng-model="teacher.email" type="email" placeholder="Email (required)" required>
          </md-input-container>
          
          <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon  class="password"></md-icon>
            <input ng-model="teacher.password" type="password" placeholder="Password (required)" required>
          </md-input-container>

          <!-- <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Donation Amount</label>
            <md-icon ></md-icon>
            <input ng-model="teacher.donation" type="number" step="0.01">
            <md-icon ></md-icon>
          </md-input-container> -->
          <md-button class="md-primary" ng-click="register_teacher()"> 
            Submit
          </md-button>
        </form>
      </md-content>
    </div>


  </md-sidenav>


  <md-content id="content" flex class="main_page">
    

  </md-content>
</div>