<md-content>
  <form ng-submit="create_category()" class="form_border">
    <md-input-container>
      <label>Name:</label>
      <input type="text" ng-model="name">
    </md-input-container>

    <input type="submit" value="Create category">
  </form>

  <md-divider></md-divider>
<br><br>

  <form  class="form_border">

    <md-input-container>
      <label>Name:</label>
      <input type="text" ng-model="subject.name">
    </md-input-container><br>

    <md-input-container>
      <label>Category:</label>
      <md-select ng-model="subject.category" placeholder="Select a category" required>
        <md-option class="black_text" ng-value="category.id" ng-repeat="category in categories">{{ category.name }}</md-option>
      </md-select>
    </md-input-container>

    <input type="submit" value="create subject" ng-click="create_subject()">
  </form>
</md-content>
<br><br>
<md-divider></md-divider>

<md-content>
  <div layout="row">
    <div flex><md-button ng-click="edit_categories()">Edit Categories</md-button></div>
    <div flex><md-button ng-click="edit_subjects()">Edit Subjects</div>
  </div>
</md-content>