
<md-content>
  <md-content>
    <form ng-submit="create_category()" class="form_border">
      <md-input-container>
        <label>Name:</label>
        <input type="text" ng-model="name" class="admin_inputs">
      </md-input-container>

      <input type="submit" value="Create category">
    </form>

    <md-divider></md-divider>
  <br><br>

  <div layout="row" class="subject_container" flex="50" flex-xs="100">
    <form  class="form_border" >

      

      <md-input-container flex="100">
        <label>Category:</label>
        <md-select ng-model="subject.category" placeholder="Select a category" ng-change="get_subjects( subject.category )" required>
          <md-option class="black_text" ng-value="category.id" ng-repeat="category in categories">{{ category.name }}</md-option>
        </md-select>
      </md-input-container><br>

      <md-input-container>
        <label>Name:</label>
        <input type="text" ng-model="subject.name" class="admin_inputs">
      </md-input-container>

      <md-input-container>
        <input type="submit" value="Create subject" class="md-button md-raised md-primary" aria-label="Create subject" ng-click="create_subject()">
      </md-input-container>
    </form>
    <div flex="50" flex-xs="100">
      <md-content class="subject_container">
        <md-list>
          <md-list-item class="no_padding" ng-repeat="subject in category_subjects">
            <div class="md-list-item-text no_margin ">
              <span>{{ subject.name }} </span>
            </div>
            
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
    
  </md-content>
  <br><br>
  <md-divider></md-divider>

  <md-content>
    <div layout="row">
      <div flex><md-button ng-click="edit_categories()">Edit Categories</md-button></div>
      <div flex><md-button ng-click="edit_subjects()">Edit Subjects</div>
    </div>
  </md-content>


  <md-content class="margin_t_10 white_background">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span layout-margin ng-click="fetch_teachers()" flex>
          List of teachers <span ng-if="teachers">{{ teachers.length }}</span><i class="material-icons">touch_app</i>
        </span>
        
      </div>      
    </md-toolbar>

    <div ng-if="teachers" class="cssFade" layout="row" layout-align="space-around center">

      <div>
        <md-select ng-model="selection.county" placeholder="County" ng-change="filter()">
          <md-option ng-value="county" ng-repeat="county in counties">{{ county }}</md-option>
        </md-select>
      </div>

      <div>
        <md-select ng-model="selection.subject" placeholder="Subject" ng-change="filter()">
          <md-option ng-value="subject" ng-repeat="subject in subject_list_for_menu">{{ subject.name }}</md-option>
        </md-select>
      </div>

      <div>
        <md-button ng-click="clear()">Clear</md-button>
      </div>

    </div> <!-- end of row -->
    <div ng-if="teachers" class="cssFade" id="teacher_container">
      <md-list>
        <md-list-item                
              class="md-2-line"
              ng-repeat="teacher in teachers | start_from:(current_page - 1) * page_size | limitTo: page_size"
          >
          <!-- <md-checkbox ng-model="item.done"></md-checkbox> -->
          <div class="md-list-item-text" >
            <span ng-click="open_teacher_dialog( teacher )">
              <h3>email:{{teacher.email}}, name: {{ teacher.first_name }} {{ teacher.last_name }}, registered: {{ teacher.created_at | date:'dd-MM-yyyy ' }}</h3>
              <span>Subjects {{ teacher.subjects.length }}</span> ||
              <span>Location {{ ( teacher.location != null ) }}</span> ||
              <span>Experience {{ (teacher.experience.length > 0) }}</span> ||
              <span>Quals {{ (teacher.qualifications.length ) }}</span> ||
            </span>
            <a class="cursor_hand" ng-click="fb_share( teacher )"><img ng-src="<%= asset_url 'Facebook.png' %>"></a>

            <a class="cursor_hand" ng-click="tweet( teacher )"><%= image_tag( asset_url('Twitter.png') ) %></a>
            
            <md-divider md-inset></md-divider>
          </div>
        </md-list-item>
      </md-list>

      <!-- Pagination controls -->
      <div class="center_text" class="md-inline-form">
        <ul uib-pagination class="no_margin" total-items="teachers.length" ng-model="current_page" items-per-page="page_size"></ul>
        <md-input-container  md-no-float class="no_margin">
          <input type="text" ng-model="page_size" placeholder="Number per page">
        </md-input-container>
      </div>
      <!-- End of pagination controls -->

    </div>
  </md-content>
</md-content>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>