<div ng-if="User" layout="row" layout-align="space-around center" flex>
  <div>
    <md-button  class="md-raised md-primary white_text icon_button "  ng-click="open_message_dialog()">
      Contact {{ teacher.first_name }} <i class="material-icons">contact_mail</i>
    </md-button>
  </div>

  <div ng-if="teacher.phone">
    <md-button class="md-raised md-primary white_text " ng-href="tel:{{ teacher.phone }}">
      <md-icon class=""><i class="material-icons icon_button">phone</i></md-icon>{{ teacher.phone }}
    </md-button>
  </div>

</div>

<div ng-if="!User" ng-click="open_login()" layout="row" layout-align="space-around center" flex>
  <div>
    <md-button  class="md-raised md-primary white_text icon_button" >
      Contact {{ teacher.first_name }} <i class="material-icons">contact_mail</i>
    </md-button>
  </div>

  <div ng-if="teacher.phone">
    <md-button class="md-raised md-primary white_text " >
      Call {{ teacher.first_name }} <md-icon class=""><i class="material-icons icon_button">phone</i></md-icon>
    </md-button>
  </div>  
</div>