<md-menu>
  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="open_home_menu($mdOpenMenu, $event)">
    <md-icon><i class="material-icons">menu</i></md-icon>
  </md-button>

  <md-menu-content width="4">
    <md-menu-item>
    <md-button ng-href="/teacher/{{ User.id }}" class="md-button md-default-theme green_text">Profile</md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button ng-href="/teacher-area/{{ User.id }}/" class="md-button md-default-theme green_text">Calendar</md-button>
    </md-menu-item>
    
    <md-menu-item>
      <md-button ng-href="/teacher-location/{{ User.id }}" class="md-button md-default-theme green_text">Location</md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button ng-href="/conversation/" class="md-button md-default-theme green_text">Messages</md-button>
    </md-menu-item>
    
    <md-menu-item ng-if="User.admin">
      <md-button class="md-button md-default-theme " ui-sref="admin" >Admin</md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button class="md-button md-default-theme " ng-click="auth.logout()">Logout</md-button>
    </md-menu-item>

  </md-menu-content>
</md-menu>