html, body{
  height: 100%;
}

.center_text{
  text-align: center !important;

}

.white_text{
  color: #FFF !important;
}

.green_text{
  color: #548235;
}

.green_blue_text{
  color: #2a602a !important;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2d95ff, 0 0 30px #2d95ff, 0 0 40px #2d95ff, 0 0 50px #2d95ff, 0 0 75px #2d95ff;
  letter-spacing: 5px;
}

.black_text{
  color: #111 !important;
}

.blue_background{
  background-color: rgb(16,108,200) !important;
}

.yellow_background{
  background-color: #ffff00 !important;
}

.greyish_orange_background{
  background-color: #d7b8ad !important;
}

.strong_blue{
  background-color: #106cc8 !important;
}

.lime_background{
  background-color: #00d59e !important;
} 

.greyish_blue{
  background-color: #85b3c4 !important;
}

.width_75{
  width: 75%;
}

.padding_t_10{
  padding-top: 10px !important;
}

.percent_10_w{
  width: 10%;
}

.sidenav{
  background-color: #2a602a;
}

.main_page{
  background-color: #e0ebf4;
  // height: 100% !important;
}

.subject_search{
  padding: 0 12px;
  line-height: 40px;
  // min-width: 60%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  max-width: 200px !important;
  background-color: #FFF;
}



.main_page_search_container{
  // min-height: 500px;
  background-image: asset_url('piano.jpg');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // padding: 0 100px !important;

}

.not_transparent{
  rgba: ( 0, 0, 0, 1 )
}

.green_add_icon{
  color: #2a602a;
  background-color: #FFF;
  font-size: 50px !important;
}

.tricolor_button_hover:hover{
  background-color: #c86c10 !important;
}

.icon_red{
  color: rgb(255,87,34);
  background-color: #FFF;
  // font-size: 50px !important;
}

.icon_yellow{
  color: #111;
  background-color: #ffff00;
}

.margin_s_100.md-grid{
  margin: 0 100px !important;
}




#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

// map

#map { 
  height: 400px; 
  width: 100%;
}
.location_results{
  max-height: 200px;
  overflow-y: scroll;

}

// search box for map

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

//  end of search box for map

.map_results{
  height: 100%;
  overflow-y: visible !important;
}

.explanation{
  background-color: #d7eacb;
}