@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");

html, body{
  height: 100%;
  max-width: 100% !important;
}

.white_text{
  color: #FFF !important;
}

.white_placeholder::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFF;
}
.white_placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
.white_placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}
.white_placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFF;
}

.green_text{
  color: #548235;
}

.green_blue_text{
  color: #2a602a !important;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2d95ff, 0 0 30px #2d95ff, 0 0 40px #2d95ff, 0 0 50px #2d95ff, 0 0 75px #2d95ff;
  letter-spacing: 5px;
}

.black_text{
  color: #111 !important;
}


.center_text{
  text-align: center !important;

}

md-sidenav.user_menu, 
md-sidenav.md-locked-open.user_menu, 
md-sidenav.md-closed.md-locked-open-add-active.user_menu {
    min-width: 100px !important;
    width: auto;
    max-width: 200px !important;
    max-height: 65vh !important;
} 

.opacity_0{
  opacity: 0;
}

.center_block{
  display: block !important;
  margin: 0 auto !important;
}

.grey_green_background{
  background-color: #d7eacb !important;
}

.blue_background{
  background-color: rgb(16,108,200) !important;
}

.dark_moderate_cyan_background{
  background-color: #4caf82 !important;
}

.pale_orange_background{
  background-color: #fff2cc;
}

.yellow_background{
  background-color: #ffff00 !important;
}

.greyish_orange_background{
  background-color: #d7b8ad !important;
}

.strong_blue{
  background-color: #106cc8 !important;
}

.lime_background{
  background-color: #00d59e !important;
} 

.greyish_blue{
  background-color: #85b3c4 !important;
}

.white_background{
  background-color: #FFF;
}

.blue_button{
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.display_teacher_image{
  width: 75%;
  height: auto;
}

.pic_thumb{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.slide_container{
  // min-height: 40vw;
  min-width: 100%;
}

.big_slide{
  width: 80vw;
  max-height: 80vw;
}

.slide{
  // width: 40vw;
  // max-height: 40vw;
}

.md-media-sm{
  height:80px;
  width:80px
}

.boxWithHeight {
  box-sizing: border-box;
  height: 100%;
}

.break_word{
  word-wrap: break-all;
}

.no_border{
  background-color:transparent;
  border: 0px solid;
}

.no_border:focus{
  outline: none;
}

.width_75{
  width: 75% !important;
}

.width_50{
  width: 50% !important;
}

.width_25{
  width: 25% !important;
}

.width_100{
  width: 100% !important;
}

.header_font{
  font-size: 4rem;
  // font-size: 72px;
  background: -webkit-linear-gradient(#555, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.x_large_font{
  font-size: x-large;
}

.button_font{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
}

.float_right{
  float: right !important;
}

.float_left{
  float: left !important;
}

.overflow_scroll{
  overflow-y: scroll !important;
}

.height_100{
  height: 100% !important;
}

.height_80{
  height: 80% !important;
}

.height_70{
  height: 70% !important;
}

.height_75{
  height: 75% !important;
}

.height_50{
  height: 50% !important;
}

.height_25{
  height: 25% !important;
}

.height_0{
  height: 0;
}

.min_height_32{
  min-height: 32px !important;
}

.min_height_32.ng-hide{
  display: inline !important;
}

.md-chips > .min_height_32.ng-hide{
  visibility: hidden !important;
}

.no_padding{
  padding: 0px !important;
}

.no_margin{
  margin: 0px !important;
}

.margin_0{
  margin: 0px !important;
}

.margin_10{
  margin: 10px !important;
}

.margin_t_10{
  margin-top: 10px !important;
}

.margin_b_10{
  margin-bottom: 3rem;
}

.padding_t_10{
  padding-top: 10px !important;
}

.padding_t_8{
  padding-top: 8px !important;
}

.margin_t_0{
  margin-top: 0px !important;
}

.padding_5{
  padding: 5px !important;
}

.padding_10{
  padding: 10px !important;
}

.padding_s_20{
  padding: 0px 20px;
}

.gutter_85{
  min-width: 85% !important;
  max-width: 85%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.clear_both{
  clear: both !important;
}


.percent_10_w{
  width: 10%;
}

.sidenav{
  background-color: #2a602a;
}

.main_page{
  background-color: #e0ebf4;

}

.match_background{
  background-color: #e0ebf4 !important;
}

.subject_search{
  padding: 0 12px !important;
  line-height: 40px !important;
  // min-width: 60%;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  background-color: #FFF !important;
}

.form_border{
  border: 1px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.register_page_main_div{
  min-height: 400px;
  background-image: asset_url('tree.jpg');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



.not_transparent{
  rgba: ( 0, 0, 0, 1 )
}

.green_add_icon{
  color: #2a602a;
  background-color: #FFF;
  font-size: 50px !important;
}

.tricolor_button_hover:hover{
  background-color: #c86c10 !important;
}

.icon_red{
  color: rgb(255,87,34);
  background-color: #FFF;
  // font-size: 50px !important;
}

.icon_yellow{
  color: #111;
  background-color: #ffff00;
  border-radius: 50%;
}

.margin_s_100.md-grid{
  margin: 0 100px !important;
}




#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

// map

#map { 
  height: 40%;
  min-height: 200px !important;
  width: 100%;
}

#map div{
  min-height: 200px !important;
}

.location_results{
  max-height: 200px;
  overflow-y: scroll;

}

// search box for map

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

//  end of search box for map

.map_results{
  height: 100%;
  overflow-y: visible !important;
}

.how_it_works{
  overflow: hidden !important;
}


.icon_button>.material-icons{
  position: relative;
  transform: translateY(20%);
}


.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

  // Messages

.bubble{
  word-wrap: break-word;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  width: 20rem;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}



.receiver{
  background: #7FB3D8;
  @extend .bubble;
}


.sender{
  background: #29F968;
  @extend .bubble;
}

.message_response_container{
  @extend .padding_10;
  @extend .height_25;
  bottom: 0px;
  height: 25%;
  min-height: 180px;
  width: 100%;
}

.message_form{
  height: 100%;
  // width: 99%;
  @extend .white_background;
  border: 1px solid #cdcecf;
  word-wrap: break-word;
}

.message_text_area{
  width: 100% !important;
  resize: none;
  overflow-y:hidden;
}

.search_toolbar{
  background-color:rgb(250, 250, 250) !important;
}


// End of messages

// Teacher area
.calendar_container{
  height: 100% !important;
}
#calendar{
  max-height: 12em !important;
}

.calendar_buttons{
  position: absolute;
  bottom: 20px;
}

// End of Teacher area

@media (min-width: 250px){
  .main_page_search_container{
    min-height: 30em;
    background-image: asset_url('portrait_piano.jpg');
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }

  .gutter_75{
    min-width: auto;
    max-width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #pac-input{
    width: 85%;
  }

  .county_search{
    margin-top: 10px;
  }
}

@media ( min-width: 768px ){
  .main_page_search_container{
    min-height: 400px;
    background-image: asset_url('piano.jpg');
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // padding: 0 100px !important;

  }
  .gutter_75{
    min-width: 75% !important;
    max-width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .calendar_dialog{
    width: 75% !important;
  }

  #pac-input{
    width: 65%;
  }

  .county_search{
    margin-top: 0px;
  }
}

.alertify{
  max-height: 35% !important;
}
