html, body{
  height: 100%;
}

.white_text{
  color: #FFF !important;
}

.green_text{
  color: #2a602a !important;
}

.black_text{
  color: #111 !important;
}

.blue_background{
  background-color: rgb(16,108,200) !important;
}

// ::-webkit-input-placeholder {
//    color: #FFF !important;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: #FFF !important;  
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: #FFF !important;  
// }

// :-ms-input-placeholder {  
//    color: #FFF !important;  
// }

.sidenav{
  background-color: #2a602a;
}

.main_page{
  background-color: #e0ebf4;
  // height: 100% !important;
}

.subject_search{
  padding: 0 12px;
  line-height: 40px;
  // min-width: 60%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #FFF;
}



.main_page_search_container{
  background-image: asset_url('piano.jpg');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // padding: 0 100px !important;

}

.not_transparent{
  rgba: ( 0, 0, 0, 1 )
}
