<div class="width_75">
  <md-dialog>
    <form name="event_creation_form" ng-submit="submit_event_details()">

      
      

      <md-input-container md-no-float>
        <label>Student email</label>
        <input ng-model="calendar_event_details.student_email">
      </md-input-container>

      <div layout="row">
        <div flex>
          <mdp-date-picker mdp-placeholder="Date" ng-model="calendar_event_details.start_date" aria-label="Event start date" ng-required="true">
          </mdp-date-picker >
        </div>

        <div flex>
          <mdp-time-picker mdp-auto-switch="true" ng-model="calendar_event_details.start_time" aria-label="event start time" ng-required="true">
          </mdp-time-picker >
        </div>

      </div>

      <div layout="row">
        <div flex>
          <mdp-date-picker mdp-placeholder="Date" ng-model="calendar_event_details.end_date" name="end_date" aria-label="event end date" ng-required="true">
            <div ng-messages="event_creation_form.end_date.$error">
              <div ng-message-exp="['not_the_same', 'required']">
                <p>Must be a valid email</p>
                <p>Emails must match</p>
            </div>
            </div>
          </mdp-date-picker>
        </div>

        <div flex>
          <mdp-time-picker mdp-auto-switch="true" ng-model="calendar_event_details.end_time" aria-label="event end time" ng-required="true">

          </mdp-time-picker>
        </div>
      </div>

      <md-divider class="margin_b_10"></md-divider>
      <md-input-container md-no-float>
        <label>Description</label>
        <textarea ng-model="calendar_event_details.description" 
                  aria-label="Event description" 
                  md-maxlength="200" 
                  rows="4" 
                  md-select-on-focus
                  placeholder="Enter event description">
        </textarea>
      </md-input-container>
      
      <md-input-container>
        <input type="submit" value="Create event" class="md-button blue_button width_25 float_right" aria-label="Create event">
      </md-input-container>
      
    </form>
    
  </md-dialog>
</div>

