<div class="width_75">
  <md-dialog>
    <form ng-submit="submit_event_details()">

      
      

      <md-input-container md-no-float>
        <label>Student email</label>
        <input ng-model="calendar_event_details.student_email">
      </md-input-container>

      <div layout="row">
        <div flex><mdp-date-picker mdp-placeholder="Date" ng-model="calendar_event_details.start_date" aria-label="Event start date"></mdp-date-picker ></div>
        <div flex><mdp-time-picker ng-model="calendar_event_details.start_time"></mdp-time-picker aria-label="event start time"></div>
      </div>

      <div layout="row">
        <div flex><mdp-date-picker mdp-placeholder="Date" ng-model="calendar_event_details.end_date" aria-label="event end date"></mdp-date-picker></div>
        <div flex><mdp-time-picker ng-model="calendar_event_details.end_time" aria-label="event end time"></mdp-time-picker></div>
      </div>

      <md-divider class="margin_b_10"></md-divider>
      <md-input-container md-no-float>
        <label>Description</label>
        <textarea ng-model="calendar_event_details.description" 
                  aria-label="Event description" 
                  md-maxlength="200" 
                  rows="4" 
                  md-select-on-focus
                  placeholder="Enter event description">
        </textarea>
      </md-input-container>
      
      <md-input-container>
        <input type="submit" value="Create event" class="md-button blue_button width_25 float_right" aria-label="Create event">
      </md-input-container>
      
    </form>
    
  </md-dialog>
</div>

