
<md-dialog>
  <md-dialog-content>
    <form name="event_update_form" ng-submit="update_event_details()">

      
      <md-input-container md-no-float class="width_100" flex="50">
        <label>Title or student name</label>
        <textarea ng-model="event.title" 
                  aria-label="Event title" 
                  md-maxlength="140" 
                  md-select-on-focus
                  placeholder="Title or student name"
                  required>
        </textarea>
      </md-input-container>

     <!--  <md-input-container md-no-float>
        <label>Title or student name</label>
        <input ng-model="event.title" required>
      </md-input-container> -->

      <div layout="row">
        <div flex>
          <mdp-date-picker mdp-placeholder="Date" ng-model="event.startTime" name="start_time" aria-label="Event start date" required>
            <div ng-messages="event_creation_form.start_date.$error">
              <div ng-message="required">This is required</div> 
            </div>
          </mdp-date-picker >
        </div>

        

      </div> <!-- end of row -->

      <div layout="row">
        
        <div flex>
          <label>Start time:</label>
          <mdp-time-picker mdp-auto-switch="true" ng-model="event.startTime" aria-label="event start time" ng-required="true">
          </mdp-time-picker >
        </div>

        <div flex>
          <label>End time:</label>
          <mdp-time-picker mdp-auto-switch="true" ng-model="event.endTime" aria-label="event end time" ng-required="true">

          </mdp-time-picker>
        </div>
      </div>

      <md-divider class="margin_b_10"></md-divider>
      <!-- <md-input-container md-no-float class="width_100" flex="100">
        <label>Title</label>
        <textarea ng-model="calendar_event_details.summary" 
                  aria-label="Event title" 
                  md-maxlength="200" 
                  md-select-on-focus
                  placeholder="Enter event title"
                  required>
        </textarea>
      </md-input-container>
 -->
      <md-input-container md-no-float class="width_100" flex="100">
        <label>Description</label>
        <textarea ng-model="event.description" 
                  aria-label="Event description" 
                  md-maxlength="200" 
                  md-select-on-focus
                  placeholder="Enter event description"
                  required>
        </textarea>
      </md-input-container>
      
      <md-input-container>
        <input type="submit" value="Update" class="md-button blue_button width_25 float_right" aria-label="Update event">

      </md-input-container>
      
      <md-input-container>
        <md-button ng-click="close_event()" class="md-raised md-warn">Close</md-button>
      </md-input-container>
      
    </form>
  </md-dialog-content>
  
</md-dialog>


