<md-dialog layout-padding layout-margin aria-label="Change password dialog">
  <md-dialog-content>
    <form ng-submit="change_password()" name="change_password_form">
      <md-input-container>
        <label>Old Password:</label>
        <input type="password" ng-model="update_password.current_password" name="old_password" required>
      </md-input-container><br>

      <md-input-container>
        <label>New Password</label>
        <input type="password" ng-model="update_password.password" name="new_password" required>
      </md-input-container><br>

      <md-input-container>
        <label>Confirm Password</label>
        <input type="password" ng-model="update_password.password_confirmation" name="confirm_password" required> 
      </md-input-container><br>

      <input type="submit" class="blue_button" value="Update password">
    </form>
    
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-warn">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>