<md-dialog aria-label="List dialog" flex="80">
  <md-dialog-content>
    <md-content class="md-no-momentum center_text">
      <div>
        <div>
          <div class="x_large_font ">
            You must register or signin <br>
            <md-button ng-click="openLeftMenu(2);close_login_or_register()">Signup</md-button> or
            <md-button ng-click="openLeftMenu(0);close_login_or_register()">Signin</md-button> 
            <!-- <span class="button_font">or </span> -->
          </div>
        </div>        

        <div flex >
          <!-- <form name="user_email_form" ng-submit="update_user_email()">
            <md-input-container class="width_50">
              <input ng-model="user_email" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="enter your email" required>

            </md-input-container>
            <md-input-container>
              <input type="submit" class="md-button md-raised md-primary white_text" value="Check email">

            </md-input-container>
          </form> -->
        </div>
      </div>
      
    </md-content>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close_login_or_register()" class="md-raised md-warn">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>


