<md-dialog aria-label="List dialog" flex="80">
  <md-dialog-content>
    <md-content class="md-no-momentum">
      <form name="message_form" ng-submit="send_message()">

        <md-input-container md-no-float class="md-block">
          <!-- Use floating label instead of placeholder -->
          
          <i class="material-icons">person_outline</i>
          <input  ng-model="message.name"
                  class="black_text" 
                  type="text"
                  ng-value="USER.first_name + ' ' + USER.last_name"
                  placeholder="Your full name (required)"
                  aria-label="Name"
                  required>
        </md-input-container>

        <md-input-container md-no-float placeholder="Name" class="md-block">
          <i class="material-icons">phone</i>
          <input  ng-model="message.phone" 
                  type="tel" 
                  placeholder="Phone Number (Optional)"
                  aria-label="Phone number">
        </md-input-container>

       <!--  <div layout="row">
          <div flex="50">
            <md-input-container md-no-float>
              <i class="material-icons">email</i>
              <input ng-model="message.email" 
                    type="email" 
                    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                    placeholder="Email (required)"
                    name="passwordField"
                    type="password"
                    ng-required="true"
                    aria-label="email">
            </md-input-container>
          </div> --> <!-- end of flex=50 -->
        

        
          <!-- <div flex="50">
            <md-input-container md-no-float>
              <i class="material-icons">email</i>
              <input ng-model="message.confirm_email"
                    type="email" 
                    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                    name="confirm_email" 
                    value="confirm email"
                    type="password" 
                    placeholder="Retype email (required)"
                    required
                    match="message.email"
                    aria-label="email confirm">
            </md-input-container>
          </div>
        </div> --> <!-- end of row -->

        
        <md-input-container class="width_75">
          <label >Message</label>
          <textarea ng-model="message.message" aria-label="Message" class="black_text" md-maxlength="300" rows="5" md-select-on-focus></textarea>
        </md-input-container>


        <md-input-container >
          <div ng-show="message_form.confirm_email.$error.match">
            <br>
            Emails don't match
          </div>
        </md-input-container>

        <br>
        
        <md-input-container>
          <input type="submit" value="Send message" class="md-button md-raised md-primary white_text" aria-label="Send message">
        </md-input-container>
        
      </form>
      <!-- <md-input-container md-no-float class="md-block">
        <input ng-model="user.address" type="text" placeholder="Address" >
        <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
      </md-input-container> -->
      
    </md-content>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-raised md-warn">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>


