<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <md-list>
      <md-list-item ng-repeat="subject in subjects">

        <div layout="column">
          <div flex>
            <p ng-click="edit_item=true">{{ subject.name }}</p>
          </div>

          <div flex>
            <form ng-if="edit_item"  ng-submit="update_subject()">
              <span>
                <input ng-model="new_subject" placeholder="{{subject.name}}" >
                <i class="material-icons green_text" ng-click="update_subject( new_subject, subject.id )">done</i>
              </span>
              
            </form>
          </div>
        </div>
        
        
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close_dialog()" class="md-primary">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>