<md-dialog aria-label="teacher dialog" class="min_width_400" layout-padding>

  <md-dialog-content>
    <form name="tweet_form" ng-submit="send_tweet()" class="margin_b_10" novalidate layout="column">
      <div>
        <md-input-container class="width_100">
          <label>Tweet text</label>
          <textarea ng-model="tweet_info.text"
                    aria-label="Tweet text" 
                    class="black_text" 
                    md-maxlength="140" 
                    name="tweet_text"  
                    md-select-on-focus required>
          </textarea>
          
        </md-input-container>
      </div>
      
      <div>
        <img class="width_50 margin_b_10" ng-src="{{profile.avatar.url}}">
      </div>
      
      <div>
        <md-input-container><input type="submit" value="tweet" class="md-button md-raised md-primary"></md-input-container>
      </div>

    </form>

    
  <md-dialog-actions>
    <md-button ng-click="close_dialog()" class="md-primary">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>